# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official site:
- https://embeddedsw.net/OpenPuff_download.html

or directly:
- Version: 4.01
- URL: https://embeddedsw.net/zip/OpenPuff_release.zip
- SHA256: 7804DE65A106176E893B118D75FEAA5502F0F963BE4C91C8785C42033F6DC730

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from within the zip file (top portion) and the gnu.org site (bottom portion)
