# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped font files are downloadable from the GitHub releases page:

https://github.com/rsms/inter/releases/latest

or directly:

- Version : 4.1
- URL     : https://github.com/rsms/inter/releases/download/v4.1/Inter-4.1.zip
- SHA256  : 9883FDD4A49D4FB66BD8177BA6625EF9A64AA45899767DDE3D36AA425756B11E

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' comes from:

- https://github.com/rsms/inter/blob/master/LICENSE.txt
