# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped font files are downloadable from the GitHub releases page:

https://github.com/rsms/inter/releases/latest

or directly:

- Version : 4.0
- URL     : https://github.com/rsms/inter/releases/download/v4.0/Inter-4.0.zip
- SHA256  : FF970A5D4561A04F102A7CB781ADBD6AC4E9B6C460914C7A101F15ACB7F7D1A4

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' comes from:

- https://github.com/rsms/inter/blob/master/LICENSE.txt
