# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
- https://github.com/benbuck/rbtray/releases/latest

or directly:
- Version: 4.14
- x86 URL: https://github.com/benbuck/rbtray/releases/download/v4.14/x86.zip
- x64 URL: https://github.com/benbuck/rbtray/releases/download/v4.14/x64.zip
- x86 SHA256: ED812D66BB302558AF6FC3A2916CDE837180BFB72EF388D3E8F71D13BE4B6DD2
- x64 SHA256: 0BC420262A583A06E41418547A151803D27739D5E6CCB79F0F1939E902E667AC

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/benbuck/rbtray/blob/master/LICENSE.txt
