# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the GitHub releases page:
- https://github.com/Lymphatus/caesium-image-compressor/releases

or directly:
Version : 1.7.2
URL     : http://www.midiox.com/zip/DesktopRestoreInstall.exe
SHA256  : 9F37990858D49AF40246123FC3E5586B80988BD3100BB7197715BBDD448822B6

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained the License Agreement window in the installer.
