# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The current 32/64-bit zip files of Date Reminder can be downloaded from this page:

https://www.horstmuc.de/wrem.htm

- Version    : 3.37
- 32-bit SHA256 : 4153A8E85A796DAD415E2AC470BB08CF0AE9FAD1862924BA1137DA634E44734F
- 64-bit SHA256 : A3AA92211E11E8F4586FBA66E2C8E54DA6646747B3D3CB4C9BF30E3A6F641B56

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The 'LICENSE.md' file is copied out of the 'Reminder.chm' Windows help
file included within the zip downloads.
