# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The current 32/64-bit zip files of Date Reminder can be downloaded from this page:

https://www.horstmuc.de/wrem.htm

- Version    : 3.38
- 32-bit SHA256 : 0E71674FE813C8370F96C27BA2391CBA9F0EDEC1EAF1CFD73E832A02B133279E
- 64-bit SHA256 : 72F98B37E433E0B05A4B43C8FCC1EBFDD8B897D86ADFBAA5F83411CC07125A67

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The 'LICENSE.md' file is copied out of the 'Reminder.chm' Windows help
file included within the zip downloads.
