# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The IcedTea-Web installer can be downloaded from the GitHub releases page:
- https://github.com/AdoptOpenJDK/IcedTea-Web/releases

or directly:
- Version : 1.8.8
- URL     : https://github.com/AdoptOpenJDK/IcedTea-Web/releases/download/icedtea-web-1.8.8/icedtea-web-1.8.8.msi
- SHA256  : A921F7AF07633BFF268A31AD8A9A1B14ADB7D85EEF5532F87C0A67447A8EF722

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'
3. Download the corresponding checksum file a the URL above plus ".sha256.txt" at the end.

## License
File 'LICENSE.txt' is obtained from:
- https://github.com/AdoptOpenJDK/IcedTea-Web/blob/master/LICENSE
