# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped iSpy installer can be downloaded from the official download page:

- https://www.ispyconnect.com/download.aspx

#### or directly:
- Version       : 
- 32-bit URL    : https://ispyfiles.azureedge.net/downloads//iSpy_7_2_6_0.zip
- 32-bit SHA256 : 740782F395BF855BB919811E91607EC855B19AD08CE8ABFD3E47285CA9C5DF3A
- 64-bit URL    : https://ispyfiles.azureedge.net/downloads//iSpy64_7_2_6_0.zip
- 64-bit SHA256 : EF10E29CB0FDBB1594035544064B47DF50B6F933BA3164DCAD0D767E8D2249A2


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:

- https://github.com/ispysoftware/iSpy/blob/master/license.txt
- https://github.com/ispysoftware/iSpy/blob/master/lgpl-3.0.txt
