# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the GitHub releases page:
- https://github.com/Lymphatus/caesium-image-compressor/releases

or directly:
Version : 2.5.1
URL     : https://github.com/Lymphatus/caesium-image-compressor/releases/download/v2.5.1/caesium-image-compressor-2.5.1-win-setup.exe
SHA256  : 1D5CDE9B46F1FF53A82D173707342037BA4ACE1B72749D1D5030FBA96D619DBE

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/Lymphatus/caesium-image-compressor/blob/main/LICENSE
