# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the GitHub releases page:
- https://github.com/Lymphatus/caesium-image-compressor/releases

or directly:
Version : 2.8.4
URL     : https://github.com/Lymphatus/caesium-image-compressor/releases/download/v2.8.4/caesium-image-compressor-2.8.4-win-setup.exe
SHA256  : 9080B39D888C45711909BFFD5A851989A172A76DC0797E150D6B9DA9F8CA4BF1

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/Lymphatus/caesium-image-compressor/blob/main/LICENSE
