# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the GitHub releases page:
- https://github.com/Lymphatus/caesium-image-compressor/releases

or directly:
Version : 2.0.0-beta4
URL     : https://github.com/Lymphatus/caesium-image-compressor/releases/download/v2.0.0-beta.4/caesium-image-compressor-2.0.0-beta.4-win-setup.exe
SHA256  : 9C2D5847F6EB6FCB3EC61D0ECCE1535B3414A70DF414915B7035464991CEEE92

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/Lymphatus/caesium-image-compressor/blob/main/LICENSE
