# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the GitHub releases page:
- https://github.com/Lymphatus/caesium-image-compressor/releases

or directly:
Version : 2.7.1
URL     : https://github.com/Lymphatus/caesium-image-compressor/releases/download/v2.7.1/caesium-image-compressor-2.7.1-win-setup.exe
SHA256  : D7D8865048B7A82CC862B2BAEA40A458B7952082ED646DF34072C77175B08CC6

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/Lymphatus/caesium-image-compressor/blob/main/LICENSE
