# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the GitHub releases page:
- https://github.com/Lymphatus/caesium-image-compressor/releases

or directly:
Version : 2.8.2
URL     : https://github.com/Lymphatus/caesium-image-compressor/releases/download/v2.8.2/caesium-image-compressor-2.8.2-win-setup.exe
SHA256  : 248D13FB5DA989883DCBA5DCC32063C48C7A4AB3A7B31D9178E4341EB7A99F4F

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/Lymphatus/caesium-image-compressor/blob/main/LICENSE
