# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the GitHub releases page:
- https://github.com/Lymphatus/caesium-image-compressor/releases

or directly:
Version : 2.6.0
URL     : https://github.com/Lymphatus/caesium-image-compressor/releases/download/v2.6.0/caesium-image-compressor-2.6.0-win-setup.exe
SHA256  : 323C92DD9DFB0D6F29AD7832E31B75FAB8CB62C21FA4B7C4677E74DB473197BF

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/Lymphatus/caesium-image-compressor/blob/main/LICENSE
