# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the GitHub releases page:
- https://github.com/Lymphatus/caesium-image-compressor/releases

or directly:
Version : 2.0.0-rc2
URL     : https://github.com/Lymphatus/caesium-image-compressor/releases/download/v2.0.0-rc.2/caesium-image-compressor-2.0.0-rc.2-win-setup.exe
SHA256  : 4AEC757E36C955FCC0A73348351063E3F5E3264AF588A7666A0FD6E1D3CF9FB9

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/Lymphatus/caesium-image-compressor/blob/main/LICENSE
