# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/brondavies/TrayToolbar/releases/latest

or directly:
- Version: 1.6.0
- URL: https://github.com/brondavies/TrayToolbar/releases/download/v1.6.0/TrayToolbar-win-x64-portable-1.6.0.zip
- SHA256: BC8C5831E9546DEBE6593B914FD6A88526BCF0C8F9BB41D95ABA3CAC3A6A014E

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/brondavies/TrayToolbar/blob/master/LICENSE
