# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/brondavies/TrayToolbar/releases/latest

or directly:
- Version: 1.8.1
- URL: https://github.com/brondavies/TrayToolbar/releases/download/v1.8.1/TrayToolbar-win-x64-portable-1.8.1.zip
- SHA256: E65926FD9093688E91547684F2D3CD77FAE87E8A533428D0B8D100FCCD92CF7C

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/brondavies/TrayToolbar/blob/master/LICENSE
