# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/brondavies/TrayToolbar/releases/latest

or directly:
- Version: 1.6.2
- URL: https://github.com/brondavies/TrayToolbar/releases/download/v1.6.2/TrayToolbar-win-x64-portable-1.6.2.zip
- SHA256: 4C308B914161F9DA76BE293A28C76564D9C15FD3E7EA46A10116D4D2586C2C87

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/brondavies/TrayToolbar/blob/master/LICENSE
