# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/brondavies/TrayToolbar/releases/latest

or directly:
- Version: 1.5.5
- URL: https://github.com/brondavies/TrayToolbar/releases/download/v1.5.5/TrayToolbar-win-x64-portable-1.5.5.zip
- SHA256: 80A2DD633646F8F8170F8A32D55002F3FC4493382C81DAD31D4ABFD24856CBA6

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/brondavies/TrayToolbar/blob/master/LICENSE
