# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/brondavies/TrayToolbar/releases/latest

or directly:
- Version: 1.4.1
- URL: https://github.com/brondavies/TrayToolbar/releases/download/v1.4.1/TrayToolbar-win-x64-portable-1.4.1.zip
- SHA256: 83E3E6EF9BE2519D24A9C5CCDE1553E5093FA36D44E62D311C50764701C2CFD1

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/brondavies/TrayToolbar/blob/master/LICENSE
