# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/brondavies/TrayToolbar/releases/latest

or directly:
- Version: 1.8.4
- URL: https://github.com/brondavies/TrayToolbar/releases/download/v1.8.4/TrayToolbar-win-x64-portable-1.8.4.zip
- SHA256: 3351F0CCF4E8A356B0C436C62F5DAA95BE9075C8A75FC1F6E0E2FB0C5A76A5D0

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/brondavies/TrayToolbar/blob/master/LICENSE
