# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/brondavies/TrayToolbar/releases/latest

or directly:
- Version: 1.3.9
- URL: https://github.com/brondavies/TrayToolbar/releases/download/v1.3.9/TrayToolbar-win-x64-portable-1.3.9.zip
- SHA256: 035F3A6B4BC1977F70315B684E90D044D728C23101C7A47F8DAF873FF8D31433

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/brondavies/TrayToolbar/blob/master/LICENSE
