# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/brondavies/TrayToolbar/releases/latest

or directly:
- Version: 1.3.8
- URL: https://github.com/brondavies/TrayToolbar/releases/download/v1.3.8/TrayToolbar-win-x64-portable-1.3.8.zip
- SHA256: 631AE0EAB174D5FFE4DEC1A935FAFD37093372F18B612886FEFE6C7A84309E5F

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/brondavies/TrayToolbar/blob/master/LICENSE
