# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installers can be downloaded from the official download link:
- https://github.com/sylikc/jpegview/releases/latest

or directly:
- Version    : 1.1.41.1
- x86 URL    : https://github.com/sylikc/jpegview/releases/download/v1.1.41.1/JPEGView32_en-us_1.1.41.1.msi
- x86 SHA256 : 761935CDA45AC7AFBE2311F4EC86F27B7B6FD42D3F6233058C5637A0232FC5C4
- x64 URL    : https://github.com/sylikc/jpegview/releases/download/v1.1.41.1/JPEGView64_en-us_1.1.41.1.msi
- x64 SHA256 : 6A616834F391725E7E662E49C189FD3D11BD17B9490F7C02C1C1F64162EDE238


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' contains both:
- https://github.com/sylikc/jpegview/blob/master/LICENSE.txt
- https://github.com/sylikc/jpegview/blob/master/COPYING.txt
