# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installers can be downloaded from the official download link:
- https://github.com/sylikc/jpegview/releases/latest

or directly:
- Version    : 1.0.40
- x86 URL    : https://github.com/sylikc/jpegview/releases/download/v1.0.40/JPEGView32_en-us_1.0.40.msi
- x86 SHA256 : E04F98B991A4A5BC497F968A78A990BDD3C22966388AED6CC57BEF457C01F428
- x64 URL    : https://github.com/sylikc/jpegview/releases/download/v1.0.40/JPEGView64_en-us_1.0.40.msi
- x64 SHA256 : A51BD6B6BD7F81F31B08491D3A187F1B8B255247CCE765FDD8DC5B55FE619F4F


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' contains both:
- https://github.com/sylikc/jpegview/blob/master/LICENSE.txt
- https://github.com/sylikc/jpegview/blob/master/COPYING.txt
