# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installers can be downloaded from the official download link:
- https://github.com/sylikc/jpegview/releases/latest

or directly:
- Version    : 1.2.45
- x86 URL    : https://github.com/sylikc/jpegview/releases/download/v1.2.45/JPEGView32_en-us_1.2.45.msi
- x86 SHA256 : B3D8B3343E4D77BE49A844F851A563DB93DCE6FD360DFC9F8FA105E7F11D116C
- x64 URL    : https://github.com/sylikc/jpegview/releases/download/v1.2.45/JPEGView64_en-us_1.2.45.msi
- x64 SHA256 : F4DA7EC7D82E4F29400A86B60F8330E6CD56654274A6E8BFF63E5167C84B4F3E


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' contains both:
- https://github.com/sylikc/jpegview/blob/master/LICENSE.txt
- https://github.com/sylikc/jpegview/blob/master/COPYING.txt
