# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installers can be downloaded from the official download link:
- https://github.com/sylikc/jpegview/releases/latest

or directly:
- Version    : 1.1.43
- x86 URL    : https://github.com/sylikc/jpegview/releases/download/v1.1.43/JPEGView32_en-us_1.1.43.msi
- x86 SHA256 : A5B3B4442CEC97E5F5F70D9AAE8CA78409567A9D315E774CAF211CD55FA52547
- x64 URL    : https://github.com/sylikc/jpegview/releases/download/v1.1.43/JPEGView64_en-us_1.1.43.msi
- x64 SHA256 : 0E9902EBB9DB89DD1FA9234D87C2AFC0295FE628E3926BCF0697116E275A385B


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' contains both:
- https://github.com/sylikc/jpegview/blob/master/LICENSE.txt
- https://github.com/sylikc/jpegview/blob/master/COPYING.txt
