# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installers can be downloaded from the official download link:
- https://github.com/sylikc/jpegview/releases/latest

or directly:
- Version    : 1.3.46
- x86 URL    : https://github.com/sylikc/jpegview/releases/download/v1.3.46/JPEGView32_en-us_1.3.46.msi
- x86 SHA256 : 842A864AD7F26054AA86AED556A56EEA129A1F9D958E6F96E983DF899A2D1A9A
- x64 URL    : https://github.com/sylikc/jpegview/releases/download/v1.3.46/JPEGView64_en-us_1.3.46.msi
- x64 SHA256 : 3108A85B5D408FA17027B25454F0EE7E7B450E680DBC1DAB68D26D9099E18BF2


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' contains both:
- https://github.com/sylikc/jpegview/blob/master/LICENSE.txt
- https://github.com/sylikc/jpegview/blob/master/COPYING.txt
