# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer can be downloaded from the GitHub latest releases page:
- https://github.com/input-leap/input-leap/releases/latest

or directly:
- Version: 3.0.2
- URL: https://github.com/input-leap/input-leap/releases/download/v3.0.2/InputLeap_3.0.2_windows_qt6.exe
- SHA256: e2beaacd8668ddd5b81a0aa00d0c1abc02154a99704287a8d5100ad67899b053

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
Contents of the file 'LICENSE.txt' is obtained from:
 - https://github.com/input-leap/input-leap/blob/master/LICENSE
