api_key
*~
*.bak
*.cache
*.nupkg
*.old
*.orig
*.swp
*.swo
*.suo
*.test
*.work
*.handover
*.new
*.exist
*-orig.*
#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
_ReSharper*
*.resharper
New folder*
New Text Document*.txt
obj
*/working
ketarin/soluto.xml
*.stackdump
update_vars.ps1
gist.md
update_info.xml

############
# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.nupkg
*.db

##############
# Binaries
##############
*.exe
