# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest (and previous) versions of the PostgreSQL ODBC driver installer can be downloaded from the PostgreSQL download site:
- https://www.postgresql.org/ftp/odbc/versions/

or directly:
- Version   : 18.00.0002
- x86 URL   : https://ftp.postgresql.org/pub/odbc/releases/REL-18_00_0002/psqlodbc_x86.msi
- x64 URL   : https://ftp.postgresql.org/pub/odbc/releases/REL-18_00_0002/psqlodbc_x64.msi
- x86 SHA256: D326F15054F6D36EAF0630E22D41D7ADAFD04F5A8DB90FA149DE17E69979B93D
- x64 SHA256: F732181B1337DF8114EC46DC1BB75D5176122C5345BDCADDBE887ED0672576F1

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/postgres/postgres/blob/master/COPYRIGHT

