# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest (and previous) versions of the PostgreSQL ODBC driver installer can be downloaded from the PostgreSQL download site:
- https://www.postgresql.org/ftp/odbc/versions/

or directly:
- Version   : 17.00.0005
- x86 URL   : https://ftp.postgresql.org/pub/odbc/releases/REL-17_00_0005/psqlodbc_x86.msi
- x64 URL   : https://ftp.postgresql.org/pub/odbc/releases/REL-17_00_0005/psqlodbc_x64.msi
- x86 SHA256: 0682C8856CE9A29D6D6BE947BF1F5A772EE6E353018E6567567ED9B909981078
- x64 SHA256: 1E2AFA23530C9F3ED9E5DBF3BE6EC605816973A422DC6072FDBDAA66C5EB8E3B

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/postgres/postgres/blob/master/COPYRIGHT

