# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest (and previous) versions of the PostgreSQL ODBC driver installer can be downloaded from the PostgreSQL download site:
- https://www.postgresql.org/ftp/odbc/versions/

or directly:
- Version   : 17.0.4
- x86 URL   : https://ftp.postgresql.org/pub/odbc/releases/REL-17_00_0004/psqlodbc_x86.msi
- x64 URL   : https://ftp.postgresql.org/pub/odbc/releases/REL-17_00_0004/psqlodbc_x64.msi
- x86 SHA256: C374C6240FA4EE3D8965F15292CC680233AD15729D91B8FA7F7B0C11F571C54E
- x64 SHA256: 218A815B2385A2BCE83F606C868C5A563861E110C84CBD3911B6C213591A472A

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/postgres/postgres/blob/master/COPYRIGHT

