# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest (and previous) versions of the PostgreSQL ODBC driver installer can be downloaded from the PostgreSQL download site:
- https://www.postgresql.org/ftp/odbc/versions/

or directly:
- Version   : 18.00.0005
- x86 URL   : https://ftp.postgresql.org/pub/odbc/releases/REL-18_00_0005/psqlodbc_x86.msi
- x64 URL   : https://ftp.postgresql.org/pub/odbc/releases/REL-18_00_0005/psqlodbc_x64.msi
- x86 SHA256: 54564528317FD03C4176B837B9E21A38DB7B0B3FDD5300AA1440BD6E6C50B79A
- x64 SHA256: 56345B91E41302271A7ECFC4F4819F49B0FE9FC061BD2B0D72338D81D30597A9

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/postgres/postgres/blob/master/COPYRIGHT

