# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest (and previous) versions of the PostgreSQL ODBC driver installer can be downloaded from the PostgreSQL download site:
- https://www.postgresql.org/ftp/odbc/versions/

or directly:
- Version   : 17.00.0006
- x86 URL   : https://ftp.postgresql.org/pub/odbc/releases/REL-17_00_0006/psqlodbc_x86.msi
- x64 URL   : https://ftp.postgresql.org/pub/odbc/releases/REL-17_00_0006/psqlodbc_x64.msi
- x86 SHA256: 06CBED39C4C6048D1EB53E080A2BA9321E2733364808F4E0C5BDA580A4134594
- x64 SHA256: 1670D5CA092793D89834E7BD2338547159BACC4AFBF55B3634590505D884758B

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/postgres/postgres/blob/master/COPYRIGHT

