# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest (and previous) versions of the PostgreSQL ODBC driver installer can be downloaded from the PostgreSQL download site:
- https://www.postgresql.org/ftp/odbc/versions/

or directly:
- Version   : 18.00.0000
- x86 URL   : https://ftp.postgresql.org/pub/odbc/releases/REL-18_00_0000/psqlodbc_x86.msi
- x64 URL   : https://ftp.postgresql.org/pub/odbc/releases/REL-18_00_0000/psqlodbc_x64.msi
- x86 SHA256: 35857AF97F6BE547A69EC95BED34E80C370F4E00A6DBD930CBDC26D3E565B709
- x64 SHA256: BA97D8B66D627C85F98BF99A7366B5CFFE977A0934B095B485B6E36E318D7DE4

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/postgres/postgres/blob/master/COPYRIGHT

