# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest (and previous) versions of the PostgreSQL ODBC driver installer can be downloaded from the PostgreSQL download site:
- https://www.postgresql.org/ftp/odbc/versions/

or directly:
- Version   : 17.00.0007
- x86 URL   : https://ftp.postgresql.org/pub/odbc/releases/REL-17_00_0007/psqlodbc_x86.msi
- x64 URL   : https://ftp.postgresql.org/pub/odbc/releases/REL-17_00_0007/psqlodbc_x64.msi
- x86 SHA256: DEA405990B8AF978EBD1A37DAB599C5F1B93D0F3BA3A97924C8B8387CCB8E68D
- x64 SHA256: 13AD522BE4213221DC81E99FD44A9A06883BC42D5605F714D05609B47B966410

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/postgres/postgres/blob/master/COPYRIGHT

