# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest (and previous) versions of the PostgreSQL ODBC driver installer can be downloaded from the PostgreSQL download site:
- https://www.postgresql.org/ftp/odbc/versions/

or directly:
- Version   : 18.00.0001
- x86 URL   : https://ftp.postgresql.org/pub/odbc/releases/REL-18_00_0001/psqlodbc_x86.msi
- x64 URL   : https://ftp.postgresql.org/pub/odbc/releases/REL-18_00_0001/psqlodbc_x64.msi
- x86 SHA256: BB941A8EE009C064737830E08F957312CF53ADBBBDE923F1FA4D15554C5012D9
- x64 SHA256: C9D344829FD0492344E73AA055546F35337FFC742EAC3A9F6DAB0E3444414503

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/postgres/postgres/blob/master/COPYRIGHT

