# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest (and previous) versions of the PostgreSQL ODBC driver installer can be downloaded from the PostgreSQL download site:
- https://www.postgresql.org/ftp/odbc/versions/

or directly:
- Version   : 18.00.0006
- x86 URL   : https://ftp.postgresql.org/pub/odbc/releases/REL-18_00_0006/psqlodbc_x86.msi
- x64 URL   : https://ftp.postgresql.org/pub/odbc/releases/REL-18_00_0006/psqlodbc_x64.msi
- x86 SHA256: B5E3D749A148D56B184984B23305794C3D602317B30215945A5CA7C5233DC24A
- x64 SHA256: 8962543113DF83410B74F113DB1EF80717B65A1DC7869E18C24BD852DD65535F

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/postgres/postgres/blob/master/COPYRIGHT

