# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.11.2
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.11.2/Text-Grab-x64-Self-Contained-2025-12-18.zip
- SHA256: 4E5F2F461921D198BD02B34F00ACEA98A341450EED09366FC5E5D76BBBADF50E

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
