# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.1.3
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.1.3/Text-Grab-Self-Contained-2023-09-17.zip
- SHA256: 5C82D0ADD6DFFA5996A36279AF69904534BE19850FCCC41BF4FB5105F6B6DFB1

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
