# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.2.0
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.2.0/Text-Grab-Self-Contained-2023-11-10.zip
- SHA256: 4615EB21F924D0B0C344D311CEC134D2C13AD0624E951B4FCC1B34AEE915DB3B

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
