# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.8.0
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.8.0/Text-Grab-Self-Contained-2025-02-23.zip
- SHA256: D6E501A8CF5948855A59A29731F79026C344F5BFA376C4D9145E228F1016FE77

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
