# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.1.4
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.1.4/Text-Grab-Self-Contained-2023-10-21.zip
- SHA256: 96A6EB56E5130CF6EF267E5660DBE4F91E604D397945895851BA1D6994942679

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
