# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.4.1
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.4.1/Text-Grab-Self-Contained-2024-04-14.zip
- SHA256: 637F7B4E81D1CEB4BCB276311D764BECD408E1368481C8ACC172821244F718EA

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
