# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.14.2
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.14.2/Text-Grab-x64-Self-Contained.zip
- SHA256: A8922B1FF0C64ED06A05C84D596F49FBF7F42FAD7C75FCD1C3807B53823FBE8F

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
