# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.9.6
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.9.6/Text-Grab-arm64-Self-Contained-2025-08-27.zip
- SHA256: F5EE9778039EC221837F8BDC4DA7420D518276BD2A2896FF4E39E1E149640891

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
