# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 3.2.0
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v3.2.0/Text-Grab-Self-Contained-2023-01-22.zip
- SHA256: 29B940F1FB75A0DA2525270491B9FC2A79EA20160BF9977289D02DF432B600E1

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
