# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.7.0
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.7.0/Text-Grab-Self-Contained-2024-12-21.zip
- SHA256: CDC9D944D673A33209CE3E78636E69025E6F4BC0166E07F63BF106C9BD2D9C05

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
