# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.12.1
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.12.1/Text-Grab-Self-Contained-x64.zip
- SHA256: 4A91BE6FD5A6896BA4834F3AD440F77DA88E18EF749D7D86258E9A5BD73451FF

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
