# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.13.2
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.13.2/Text-Grab-x64-Self-Contained-2026-04-08.zip
- SHA256: 76D2F6362067E60F5FB87C5E0F2425C0BA541754C21C5AAC19112113C30EC72E

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
