# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.1.0
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.1.0/Text-Grab-Self-Contained-2023-07-22.zip
- SHA256: C17D8B48FC4297A24A188181F47FEBF2F289D84E668938BEF27599BE3F580066

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
