# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.3.1
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.3.1/Text-Grab-Self-Contained-2024-01-06.zip
- SHA256: FDA63C2FB154446B72B49EF0CA1F339D1552903ECF3CD074734EA9F58BDBEAFE

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
