# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.8.1
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.8.1/Text-Grab-Self-Contained-2025-05-31.zip
- SHA256: A010BDA7C8ECD59ABC39B9069BCA67BD34BA76897186F2727B312404D973480D

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
