# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.5.0
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.5.0/Text-Grab-Self-Contained-2024-06-13.zip
- SHA256: DBC239BFFBF91CAE0EB53994B529600DB11790E69C63AA9B1B3AF45ADD4404D2

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
