# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.5.1
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.5.1/Text-Grab-Self-Contained-2024-08-28.zip
- SHA256: CFF258B46207DFB9933724259DEFDC86F03CEF869BE8F580DDEFEDDEE42609E7

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
