# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.4.2
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.4.2/Text-Grab-Self-Contained-2024-04-23.zip
- SHA256: 94875E07E230084F490F99D1AA034E46F3DF598EAA7C25DB1BE901CC235C91A8

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
