# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.3.0
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.3.0/Text-Grab-Self-Contained-2023-12-16.zip
- SHA256: 0A7ECAB3CF037C64E6B12735F8330B1B516D9C7F6A3F8E530733E806E94D4351

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
