# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.12.0
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.12.0/Text-Grab-x64-Self-Contained-2026-01-31.zip
- SHA256: AA2AA2CBB44B13B1CA3D7C666B51B5C0EA96E2C9E0F5CC4C3335FDEC025A922E

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
