# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.9.6
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.9.6/Text-Grab-x64-Self-Contained-2025-08-27.zip
- SHA256: f3903559b445a7ecfa2bb4fcdf78cca0fdf41d1a975336d26578f85887475563

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
