# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.16.0
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.16.0/Text-Grab-x64-Self-Contained.zip
- SHA256: 7472C0D8C496E6C898FFC3BD8F450B084DD4E83E261FB85176E0A4584C395802

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
