# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.10.0-reissue
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.10.0-reissue/Text-Grab-x64-Self-Contained-2025-09-27.zip
- SHA256: 3f9ec1d5ed1815461d4151afe75da47d5a247afefef19811a2a914da4e3acc8e

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
