# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 3.3.0
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v3.3.0/Text-Grab-Self-Contained-2023-03-10.zip
- SHA256: 313B3CBE1820609D2568A4778FA39238A126073490826285D5BB8B96F17CFE51

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
