# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.6.0
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.6.0/Text-Grab-Self-Contained-2024-11-11.zip
- SHA256: 3BDA8010842E3412F12150C683E0D3C16530EF6CEF84AAAE45BF967EEAAAE8DE

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
