# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.4.0
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.4.0/Text-Grab-Self-Contained-2024-03-03.zip
- SHA256: 5B2CD8EC804E5E95BC0F33903E1D21C986555FD055C041DB05BFA445E60C97AA

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
