# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official GitHub page:
- https://github.com/TheJoeFin/Text-Grab/releases/latest

or directly:
- Version: 4.0.0
- URL: https://github.com/TheJoeFin/Text-Grab/releases/download/v4.0.0/Text-Grab-2023-05-02.zip
- SHA256: DFFB8ECE72461B495CEC6D21CBA3F888C77176790A022E65B2C305AB7FF087D1

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TheJoeFin/Text-Grab/blob/main/LICENSE
