# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer can be downloaded from the official download page:

- https://cgjennings.ca/eons/download.html

or directly:
- Version: 3.3.4241
- URL: https://github.com/CGJennings/strange-eons/releases/download/v3.3.4241/strange-eons-windows-x64.exe
- SHA256: e2878268c24b9850b773d204aec3d142dd5fd2aec01eb9080462c52c8568a65f

## Verify
You can use one of the following methods to obtain the checksum:

1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
Contents of the file 'LICENSE.txt' is obtained from 

- https://github.com/CGJennings/strange-eons/blob/main/LICENSE.txt