# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the official download link:
- https://github.com/TeamShinkansen/Hakchi2-CE/releases

or directly:
Version : 3.9.3
URL     : https://github.com/TeamShinkansen/Hakchi2-CE/releases/download/v3.9.3/hakchi2-ce-3.9.3-installer.exe
SHA256  : 57B8708D5246878B48A98A08C9B0B4E28D9A4D4D3291820DF5ECBFF0FE90CF34

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TeamShinkansen/Hakchi2-CE/blob/mainline/LICENSE
