# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the official download link:
- https://github.com/TeamShinkansen/Hakchi2-CE/releases

or directly:
Version : 3.9.2
URL     : https://github.com/TeamShinkansen/Hakchi2-CE/releases/download/v3.9.2/hakchi2-ce-3.9.2-installer.exe
SHA256  : E85781C92775D5920E3838536994B068DBACF81571240F118EFC3A1EB04CD46F

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/TeamShinkansen/Hakchi2-CE/blob/mainline/LICENSE
