# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer can be downloaded from the home page:
- https://pdfencrypt.net/

or directly:
Version : 1.1.8461.14277
URL     : https://pdfencrypt.net/files/setup.exe
SHA256  : 7D5B37F986EBC374772CB749FAA4B4DA39D466D14A03BEE76B13800E59131992

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is enhanced with markdown and obtained from:
- https://pdfencrypt.net/license/
