# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 5.3.0.1
- x86 SHA256 : C180E2CD2ABB2EBEE16FD4E2762C9EF5A4C389C8A835BD1F2D9BFF112A1B8C91
- x64 SHA256 : 4E598DD4044954BF4DFB575B6BD515043B17AAA2AF31A85DD5779265C7016A2A

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
