# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A direct download URL is not available:  

- Version    : 6.2.0.0
- x86 SHA256 : 1A216CF39CE2A44054E59B931A8E444BF2F002098B238CA5318749A72C870DFA
- x64 SHA256 : 2B9EBD995C91F76C702E99205E6AF1BADBC34149B14C4A282F5F82E5E6CABB15

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
