# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 5.5.0.0
- x86 SHA256 : b7008837621f13a9f9293e909a5613500e4554efb427ac533d923f4f06c7e286
- x64 SHA256 : def0c1f699810821afcffcec2f7b9dddaf4924c3e7a1a739b6d018d884ab8efa

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
