# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 6.1.0.1
- x86 SHA256 : eebc2ad98aea28bdbd4cf7fb55c6a1d5e9d687b9151283cd22275cff95600b02
- x64 SHA256 : e6904fb4002c3903dc9a4aa5528dcc7a38756026372e0165a91cfc1e504f14c7

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
