# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A direct download URL is not available:  

- Version    : 6.1.0.4
- x86 SHA256 : ADA2F4254AD1C653C0A97D093C59E883C87568D5D7E7773EE7048EB9C24EFC5B
- x64 SHA256 : 49107023D963AE71347A9AEBB406D939F0D687CBE65859000F6A91AE5A5D002D

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
