# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A direct download URL is not available:  

- Version    : 6.4.0.0
- x86 SHA256 : FC201A706DA28F285E8FA3B4633991E00FBA92677CA3417E3870D1F909004F22
- x64 SHA256 : 475A1B45287E060E90A23CD5EF4E0629C10D453DA3E29526DD5A52D3E6B7DF3C

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
