# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 6.0.0.3
- x86 SHA256 : 25c6970fec3986fa1b31e091545e48e3729ebcff2d2ef7842fe7e73a6980b29b
- x64 SHA256 : 5129329ea04ab4049358ad623cd909f7cb18a556a8613fa2507e928441341405

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
