# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A direct download URL is not available:  

- Version    : 6.1.0.2
- x86 SHA256 : 97DD4212AEAF45B52AA0C25318D03170603B1DE7B0CD074F5CBB1B138A5D9DB2
- x64 SHA256 : 91CE70D91EFB3EC151F8AD34A50CDD6B861A612D3DBBB73A2A39E7B493746424

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
