# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A direct download URL is not available:  

- Version    : 6.3.0.3
- x86 SHA256 : 6C2E180E76C33D6105645C5060538217C72395E85B9798AFC739F2B630402849
- x64 SHA256 : 5E17464275D36F1BD9C748F5F1B0D12994381344AF32DDB9BEDA31ECE01FA708

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
