# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A direct download URL is not available:  

- Version    : 6.2.0.1
- x86 SHA256 : 8C57A6CD1E1EE39304E3DC832A17FED74A475D626ADF61724DEA3EE8DED2BE8D
- x64 SHA256 : 1A4880F826E461A6FA60D9FA0E827BEA02869A7A5F80E9C42F88EFEC958716C2

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
