# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 5.2.0.1
- x32 SHA256 : DAD8087B722D1114BAE582A7BE31460C18C816E5A7E53EBD1CC72F077D214135
- x64 SHA256 : EE348C06FCEDC5285641513D1D8FE3DD4D22B8FDF35519A3F95F9187FFC60874

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
