# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 6.0.0.1
- x86 SHA256 : 25aa939811dde822dd02cd51e083b97fcdd1bdb2d699434b631e2339ba9be9b3
- x64 SHA256 : e630e438cb4759110d11b55f38d83334659cfaa659b44d857f7019cd7b78d37d

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
