# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 5.4.0.2
- x86 SHA256 : bad4d42d83bf049f1a0f35461d9a431cf30f44ff645008d60f9b2de4c4666300
- x64 SHA256 : 3807506bb0e72ff89a2edb89e9fed1f83293acc4ccf61b403b6c3332c6aed19e

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
