# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 5.4.0.0
- x86 SHA256 : 40bacec25fff74a905d0d36507631021535d524531a19c3c537402017d741f3b
- x64 SHA256 : 53ffbf1867224efdfa8c8ab91d2a1e0b907e92f6bb84a620068742e0aab7306b

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
