# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A direct download URL is not available:  

- Version    : 6.1.0.5
- x86 SHA256 : 7A81CEBB9B74B26CF59C75D022E5A287D443AC16325782C460B9B640DF490512
- x64 SHA256 : 42CB3EFF43838EED5526D70CAD6FCD96E4BC7D7E5237F22A2ABC58C6A4198503

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
