# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A direct download URL is not available:  

- Version    : 6.2.0.3
- x86 SHA256 : 80C83FF230B7D4304A19ADDBFB8D1719196658DC05F1917786089749A7BE1541
- x64 SHA256 : C31284D0BF4228CCD14AB63213E3E88D38F942EC969487B7091C6FE8B4AE23DC

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
