# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 6.1.0.2
- x86 SHA256 : 97dd4212aeaf45b52aa0c25318d03170603b1de7b0cd074f5cbb1b138a5d9db2
- x64 SHA256 : 91ce70d91efb3ec151f8ad34a50cdd6b861a612d3dbbb73a2a39e7b493746424

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
