# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A direct download URL is not available:  

- Version    : 6.1.0.3
- x86 SHA256 : 6E8EEDBAC345AB0D6DE64CC2AC7C417AE9D0FE9729F699A152767FAE61CBC37C
- x64 SHA256 : 313D711584D55297409B1D17ADDC4F8B9FD1D0DC372AE45087798640A4FA6478

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
