# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
- https://github.com/lithnet/idle-logoff/releases/latest

or directly:
- Version: 1.2.8689
- URL: https://github.com/lithnet/idle-logoff/releases/download/v1.2.8689/lithnet.idlelogoff.setup.msi
- SHA256 Checksum: 64D08C806D894A6639AF06ABFFD2B2425DFA1DEB3AC7FCFB59925DE7BAD0672B

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/lithnet/idle-logoff/blob/master/LICENSE.md
