# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
- https://github.com/lithnet/idle-logoff/releases/latest

or directly:
- Version: 1.2.8134
- URL: https://github.com/lithnet/idle-logoff/releases/download/v1.2.8134/lithnet.idlelogoff.setup.msi
- SHA256 Checksum: FCB7B3613754701A3E69C0CDFC3CDDA3ACA59596590F5E9CC40C52810141F217

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/lithnet/idle-logoff/blob/master/LICENSE.md
