# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Twine can be downloaded from the GitHub site:  

    https://github.com/klembot/twinejs/releases/latest

Direct download:   
- Version : 2.11.0
- URL     : https://github.com/klembot/twinejs/releases/download/2.11.0/Twine-2.11.0-Windows.exe
- SHA256  : EFF52A5BD67C09BF91F964D995D926C9FF1DB20DFC7F1EDD70720062C4D35B53

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://github.com/klembot/twinejs/blob/develop/LICENSE
