# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Twine can be downloaded from the GitHub site:  

    https://github.com/klembot/twinejs/releases/latest

Direct download:   
- Version : 2.12.0
- URL     : https://github.com/klembot/twinejs/releases/download/2.12.0/Twine-2.12.0-Windows.exe
- SHA256  : 1292D6DDDC64B89583CCA6E17123215E5D7CD35C32CDEA1C14EDFFF7599E6EBC

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://github.com/klembot/twinejs/blob/develop/LICENSE
