# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Twine can be downloaded from the GitHub site:  

    https://github.com/klembot/twinejs/releases/latest

Direct download:   
- Version : 2.9.2
- URL     : https://github.com/klembot/twinejs/releases/download/2.9.2/Twine-2.9.2-Windows.exe
- SHA256  : 800B80CAA388254651AFECD741245B75432CB8D813140343132FC5903014E696

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://github.com/klembot/twinejs/blob/develop/LICENSE
