# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Twine can be downloaded from the GitHub site:  

    https://github.com/klembot/twinejs/releases/latest

Direct download:   
- Version : 2.11.1
- URL     : https://github.com/klembot/twinejs/releases/download/2.11.1/Twine-2.11.1-Windows.exe
- SHA256  : 1EFFE5FB83C6F2EDA51CBAC4C08B18C476A4B6BD6F7DEC01656B7B338E3C63F6

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://github.com/klembot/twinejs/blob/develop/LICENSE
