# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
- https://github.com/chrdavis/SmartRename/releases/latest

or directly:
- Version: 1.1.2
- x86 URL: https://github.com/chrdavis/SmartRename/releases/download/v.1.1.2/SmartRenameInstaller32.msi
- x64 URL: https://github.com/chrdavis/SmartRename/releases/download/v.1.1.2/SmartRenameInstaller64.msi
- x86 SHA256: 9F5E940FDD70069A3A3E2DAD9D98472A66C9B834E40516E38BB903E4CEB52573
- x64 SHA256: A75EF0D7B9D4CB56A2BD3DF48857FC0DBD12AB5430F2F93BD713788792F4197F

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/chrdavis/SmartRename/blob/master/LICENSE
