# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official download page:
- https://sourceforge.net/projects/zint/files/

or directly:
- Version : 2.13.0
- URL     : https://sourceforge.net/projects/zint/files/zint/2.13.0/zint-2.13.0-win32.zip
- Checksum: 7F3E1C60F61C8D78623D7CEE438C1F4FB7F1F7C49D16ECBE456C3545C8B2A87D

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is compiled from multiple sources identified in the file.
