# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official homepage:
- <http://rh-software.com/>

or the official mirror:

- <https://www.filecroco.com/download-system-information-viewer/download/>

or directly:
- Version  : 5.76
- URL      : https://www.filecroco.com/download-file/download-system-information-viewer/291/282/
- Checksum : 086D78D722852AB63165DFEDDF077124CAAAB80547EC7C2F1B347A7A062BB100


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' contains information about usage and redistribution statements.
