# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official homepage:
- <http://rh-software.com/>

or the official mirror:

- <https://www.filecroco.com/download-system-information-viewer/download/>

or directly:
- Version  : 5.82
- URL      : https://www.filecroco.com/download-file/download-system-information-viewer/291/282/
- Checksum : 99130BF543550968197ED75A5DF5FEB533E2856C252BCF1F3CD73E5693895C48


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' contains information about usage and redistribution statements.
