# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official homepage:
- <http://rh-software.com/>

or the official mirror:

- <https://www.filecroco.com/download-system-information-viewer/download/>

or directly:
- Version  : 5.78
- URL      : https://www.filecroco.com/download-file/download-system-information-viewer/291/282/
- Checksum : 397358C80EEB34E917FDC131E6AD00FA2A99E189430BCF757B775FA5C93A1352


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' contains information about usage and redistribution statements.
