# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer can be downloaded from the official download page:
- https://pdfsam.org/downloads/

or:

- https://github.com/torakiki/pdfsam/releases/latest

or directly:
- Version: 6.0.4
- URL:     https://github.com/torakiki/pdfsam/releases/download/v6.0.4/pdfsam-basic-6.0.4-windows-x64.msi
- SHA256:  EBA4B434C3732F103EC7CBFD731A33A502C6CA5C35A9EE200FE1B3ABE0D39242

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
Contents of the file 'LICENSE.txt' is obtained from the installer License Agreement window
