# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official download page:
- https://sourceforge.net/projects/zint/files/

or directly:
- Version : 2.15.0
- URL     : https://sourceforge.net/projects/zint/files/zint/2.15.0/zint-2.15.0-win32.zip
- Checksum: 05BC6D72A64B26AC156B6E357F695B35E2035BB6A24F47E5E0793E5D5B376BC5

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is compiled from multiple sources identified in the file.
