# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official download page:
- https://sourceforge.net/projects/zint/files/

or directly:
- Version : 2.16.0
- URL     : https://sourceforge.net/projects/zint/files/zint/2.16.0/zint-2.16.0-win32.zip
- Checksum: 8AE26BB63188FD80E7D4D0C0B90E9E374983487CE06C152986A7784E7D416271

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is compiled from multiple sources identified in the file.
