# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official download page:
- https://sourceforge.net/projects/zint/files/

or directly:
- Version : 2.14.0
- URL     : https://sourceforge.net/projects/zint/files/zint/2.14.0/zint-2.14.0-win32.zip
- Checksum: 2A19DF8A7E8AE9025A21D29A1EA6E9756D8B8EE34170C43198182103658B7258

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is compiled from multiple sources identified in the file.
