# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official download page:
- https://sourceforge.net/projects/zint/files/

or directly:
- Version : 2.12.0
- URL     : https://sourceforge.net/projects/zint/files/zint/2.12.0/zint-2.12.0-win32.zip
- Checksum: 974A3562A9564E29A5387880C7FEDA21C9BFEFFF5C06E0668E167DB9CF3417BB

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is compiled from multiple sources identified in the file.
