# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
- https://github.com/frescobaldi/frescobaldi/releases/latest

or directly:
- Version: 3.3.0
- x86 URL: https://github.com/frescobaldi/frescobaldi/releases/download/v3.3.0/Frescobaldi.Setup.3.3.0.exe
- x86 SHA256: 5547AA06F078BE27BDA1C2199A8BD143A6E4DD48944DBD3F9D85E762E7E69F8D

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/frescobaldi/frescobaldi/blob/master/COPYING
