# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official site:
- https://www.giadamusic.com/index#download

or directly:
- Version: 1.3.1
- URL: https://github.com/monocasual/giada/releases/download/1.3.1/giada-1.3.1-x86_64-windows.zip
- SHA256: B564CC75A2DE100E6142B2ED4F0ECE56B2C44CAC75CBE99D604D1E28C1026B99

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from https://github.com/monocasual/giada/blob/master/COPYING
