# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official site:
- https://www.giadamusic.com/index#download

or directly:
- Version: 1.2.1
- URL: https://github.com/monocasual/giada/releases/download/1.2.1/giada-1.2.1-x86_64-windows.zip
- SHA256: DC30B634D00EEA663ADE1515B506342448416517EFEA5498116262FF9C1A8E5F

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from https://github.com/monocasual/giada/blob/master/COPYING
