# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official site:
- https://www.giadamusic.com/index#download

or directly:
- Version: 1.5.0
- URL: https://github.com/monocasual/giada/releases/download/1.5.0/giada-1.5.0-x86_64-windows.zip
- SHA256: 168E7799227DD2241D11D78F8943C959F3E87B4FAC57992A46213595B9E02E1A

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from https://github.com/monocasual/giada/blob/master/COPYING
