# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official site:
- https://www.giadamusic.com/index#download

or directly:
- Version: 1.4.0
- URL: https://github.com/monocasual/giada/releases/download/1.4.0/giada-1.4.0-x86_64-windows.zip
- SHA256: AE8C8FF066E0B7D54117D0B5818ABD2258A919F569003331E71D2A23D09D2BAF

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from https://github.com/monocasual/giada/blob/master/COPYING
