# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official site:
- https://www.giadamusic.com/index#download

or directly:
- Version: 1.3.0
- URL: https://github.com/monocasual/giada/releases/download/1.3.0/giada-1.3.0-x86_64-windows.zip
- SHA256: 84E1B8A86AAC644D3A670800EFD51C94562A6642AE89C87CEDAA3ADBC6A7A903

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from https://github.com/monocasual/giada/blob/master/COPYING
