# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official site:
- https://www.giadamusic.com/index#download

or directly:
- Version: 1.1.1
- URL: https://www.giadamusic.com//data/giada-1.1.1-x86_64-windows.zip
- SHA256: BC5CEBFC1055AE642BD08B9BC86E664BE3B6AA5C5D906C94389BA71CADDC4588

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from https://github.com/monocasual/giada/blob/master/COPYING
