# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version the the self-contained, zipped files can be downloaded from 
the official site:
- https://www.giadamusic.com/index#download

or directly:
- Version: 1.4.2
- URL: https://github.com/monocasual/giada/releases/download/1.4.2/giada-1.4.2-x86_64-windows.zip
- SHA256: 9678DFC5AA53A802AE94144ACAEC27F7F96045949D141E4137F4688FC7215AE4

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from https://github.com/monocasual/giada/blob/master/COPYING
