# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped archive of the fonts can be obtained at the bottom of official site:

- https://design.ubuntu.com/font/   

or directly:

- version : 0.83
- url     : https://assets.ubuntu.com/v1/0cef8205-ubuntu-font-family-0.83.zip
- checksum: 61A2B342526FD552F19FEF438BB9211A8212DE19AD96E32A1209C039F1D68ECF

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' comes from a link at the bottom of this page (which also displays the license):

- https://ubuntu.com/legal/font-licence
