# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The XnView MP zip files can be obtained from the downloads section of 
the homepage:
- https://www.xnview.com/en/xnviewmp/#downloads

or directly:
- Version    : 1.3.1
- x86 URL    : https://download.xnview.com/XnViewMP-win.zip
- x86 SHA256 : 2031DCA62BA1632F9E869EA7A9A4B44C3D623A6ECA1D162311A78A28FF87F727
- x64 URL    : https://download.xnview.com/XnViewMP-win-x64.zip
- x64 SHA256 : 16FD12593E8CFC01672CF8578F0B443098526829D93EAD3A75E029AA9F880B52


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is displayed on a manual install and can be found in
the installation directory.
