# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest binary of Asymptote is available from SourceForge:

- https://sourceforge.net/projects/asymptote/files/<latest version>\

or directly:

- Version      : 3.14
- x64 URL      : https://sourceforge.net/projects/asymptote/files/3.14/asymptote-3.14-setup.exe
- x64 CheckSum : 76EF2BA3CC3B7D55011E5E08609C511F743A8703D945AD831DDB40E043C6F8BB

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/vectorgraphics/asymptote/blob/master/LICENSE
