# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest binary of Asymptote is available from SourceForge:

- https://sourceforge.net/projects/asymptote/files/<latest version>\

or directly:

- Version      : 3.01
- x64 URL      : https://sourceforge.net/projects/asymptote/files/3.01/asymptote-3.01-setup.exe
- x64 CheckSum : 6475DB041A3A722DCA08A03AE948B5EDAD9281C35CF85E7715D3737F294FAA0F

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/vectorgraphics/asymptote/blob/master/LICENSE
