# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest binary of Asymptote is available from SourceForge:

- https://sourceforge.net/projects/asymptote/files/<latest version>\

or directly:

- Version      : 3.15
- x64 URL      : https://sourceforge.net/projects/asymptote/files/3.15/asymptote-3.15-setup.exe
- x64 CheckSum : C2E4D86570AEBFB25BED3A37E6B9BB93C395F8C0516FD1D3083B412BC3718D15

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/vectorgraphics/asymptote/blob/master/LICENSE
