# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest binary of Asymptote is available from SourceForge:

- https://sourceforge.net/projects/asymptote/files/<latest version>\

or directly:

- Version      : 3.03
- x64 URL      : https://sourceforge.net/projects/asymptote/files/3.03/asymptote-3.03-setup.exe
- x64 CheckSum : 68F92FF97496DCCAD9AB539A09AA9996DE8C9D49ECCF45DCBA06E3B323BD8AFF

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/vectorgraphics/asymptote/blob/master/LICENSE
