# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest binary of Asymptote is available from SourceForge:

- https://sourceforge.net/projects/asymptote/files/<latest version>\

or directly:

- Version      : 2.95
- x64 URL      : https://sourceforge.net/projects/asymptote/files/2.95/asymptote-2.95-setup.exe
- x64 CheckSum : 3FF1D298DD189623CE0DDADA8F32C4E02D1A1031D27F7C56A995AA5EB9CC1680

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/vectorgraphics/asymptote/blob/master/LICENSE
