# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest binary of Asymptote is available from SourceForge:

- https://sourceforge.net/projects/asymptote/files/<latest version>\

or directly:

- Version      : 3.13
- x64 URL      : https://sourceforge.net/projects/asymptote/files/3.13/asymptote-3.13-setup.exe
- x64 CheckSum : 77C4021EE435AE790E591D8BAF562B5F7EAFC2C8967D09373B517EF22967AE02

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/vectorgraphics/asymptote/blob/master/LICENSE
