# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest binary of Asymptote is available from SourceForge:

- https://sourceforge.net/projects/asymptote/files/<latest version>\

or directly:

- Version      : 3.05
- x64 URL      : https://sourceforge.net/projects/asymptote/files/3.05/asymptote-3.05-setup.exe
- x64 CheckSum : 8E72DB98AB5E2BE6F6A69429BF38CF12A56BE39606A442FDCA298457048DFD30

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/vectorgraphics/asymptote/blob/master/LICENSE
