# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest binary of Asymptote is available from SourceForge:

- https://sourceforge.net/projects/asymptote/files/<latest version>\

or directly:

- Version      : 3.10
- x64 URL      : https://sourceforge.net/projects/asymptote/files/3.10/asymptote-3.10-setup.exe
- x64 CheckSum : 903DB792DB06C03CF8B906D1323EA610402BA8D75233D02BFE44EA2F2A25CD0D

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/vectorgraphics/asymptote/blob/master/LICENSE
