# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest binary of Asymptote is available from SourceForge:

- https://sourceforge.net/projects/asymptote/files/<latest version>\

or directly:

- Version      : 3.06
- x64 URL      : https://sourceforge.net/projects/asymptote/files/3.06/asymptote-3.06-setup.exe
- x64 CheckSum : FF5E3FF0A7291E735937530144A4F5C35427D3DE234EB66EDBFCBDC2C6640A20

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/vectorgraphics/asymptote/blob/master/LICENSE
