# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest binary of Asymptote is available from SourceForge:

- https://sourceforge.net/projects/asymptote/files/<latest version>\

or directly:

- Version      : 3.04
- x64 URL      : https://sourceforge.net/projects/asymptote/files/3.04/asymptote-3.04-setup.exe
- x64 CheckSum : 8378256FD4E6F8733A822C66345D9A3846465CCF64BCA3DC09A080F642D89F20

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/vectorgraphics/asymptote/blob/master/LICENSE
