# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest binary of Asymptote is available from SourceForge:

- https://sourceforge.net/projects/asymptote/files/<latest version>\

or directly:

- Version      : 3.09
- x64 URL      : https://sourceforge.net/projects/asymptote/files/3.09/asymptote-3.09-setup.exe
- x64 CheckSum : F79BBECD84B8CD23ACA136643C97E1F7B76E2693AF5EFB3B888D49DAAB3B8A75

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/vectorgraphics/asymptote/blob/master/LICENSE
