# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest binary of Asymptote is available from SourceForge:

- https://sourceforge.net/projects/asymptote/files/<latest version>\

or directly:

- Version      : 2.94
- x64 URL      : https://sourceforge.net/projects/asymptote/files/2.94/asymptote-2.94-setup.exe
- x64 CheckSum : EC6BEF709A6A115BABAA995191643A5420799C1A7C5407230239FEB7D785AAC5

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/vectorgraphics/asymptote/blob/master/LICENSE
