# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer can be downloaded from the official download page:
- https://riot-optimizer.com/download/

or directly:
- Version: 2024.1.0
- URL:     https://www.dropbox.com/scl/fi/o7os4421zet771868pjln/Riot-setup-x64.exe?rlkey=z7iprd6g1xjrazv2ftgu68ddy&amp;dl=1
- SHA256:  3f4ace3463ca248698ac46808bdbd2e7c1bdd467cf4e8cdfd808b398a49e4648

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
Contents of the file 'LICENSE.txt' is obtained from the installer License Agreement window