# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer can be downloaded from the official download page:
- https://riot-optimizer.com/download/

or directly:
- Version:    2026.11
- URL:        https://downloads.riot-optimizer.com/2026.11/RIOT-2026.11-setup.exe
- SHA256:     40249DD8A9BF67FA52BA282660BCD19C1E6F50E0FF4E4DA2A09989BD1990F792

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
Contents of the file 'LICENSE.txt' is obtained from the installer License Agreement window
