# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer can be downloaded from the official download page:
- https://riot-optimizer.com/download/

or directly:
- Version:   2026.10
- URL:       https://downloads.riot-optimizer.com/2026.10/RIOT-2026.10-setup.exe
- SHA256:    9C5366ACABF4C9EE6A616BF3A6B55BECD98F34E6C5DA49E3F20A8D42BDAD023C

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
Contents of the file 'LICENSE.txt' is obtained from the installer License Agreement window
