# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer can be downloaded from the official download page:
- https://riot-optimizer.com/download/

or directly:
- Version:  2026.9.2
- URL:      https://downloads.riot-optimizer.com/2026.9/RIOT-2026.9.2-setup.exe
- SHA256:   3CA01D7419CEAC66BF993B3360A046BE102AB1E4C2CB959D89E0746B1B196EB9

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
Contents of the file 'LICENSE.txt' is obtained from the installer License Agreement window
