# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The included .zip files can be downloaded from the Braille Institute site:

- https://www.brailleinstitute.org/freefont/#download

by providing an email address and agreeing to the end-user license.

There are no direct download links.

### Metadata:
#### Atkinson Hyperlegible Next® Font:
Version:  2.001
SHA256:   510f3ee52d49bb90f88e8ae4a2476f51cbb4b50f549def1d93385d1b632ec623

#### Atkinson Hyperlegible Mono® Font:
Version:  2.001
SHA256:   510f3ee52d49bb90f88e8ae4a2476f51cbb4b50f549def1d93385d1b632ec623

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
Contents of the file 'LICENSE.txt' is obtained from:
- https://github.com/googlefonts/atkinson-hyperlegible-next?tab=OFL-1.1-1-ov-file#readme



