# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped (portable) binary for BleachBit has been downloaded from 
the official website:

- https://www.bleachbit.org/download/windows

or directly:
- Version: 6.0.6
- URL: https://download.bleachbit.org/BleachBit-6.0.6-portable.zip
- SHA256: 285A53C01F95CF859250C1B612F27C2FF1247C5AF53EB8E8C6744B374F1ED19E

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'
3. View the checksums at:  
    https://download.bleachbit.org/bleachbit-6.0.6-sha256sum.txt

## License
File 'LICENSE.txt' is obtained from:

- https://github.com/bleachbit/bleachbit/blob/master/COPYING
