# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped (portable) binary for BleachBit has been downloaded from 
the official website:

- https://www.bleachbit.org/download/windows

or directly:
- Version: 4.6.2
- URL: https://download.bleachbit.org/BleachBit-4.6.2-portable.zip
- SHA256: 3BF71287D812AFC487D352CC9335459E9DFD4D063597297D6A1E143275435C97

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'
3. View the checksums at:  
    https://download.bleachbit.org/bleachbit-4.6.2-sha256sum.txt

## License
File 'LICENSE.txt' is obtained from:

- https://github.com/bleachbit/bleachbit/blob/master/COPYING
