# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped (portable) binary for BleachBit has been downloaded from 
the official website:

- https://www.bleachbit.org/download/windows

or directly:
- Version: 4.6.0
- URL: https://download.bleachbit.org/BleachBit-4.6.0-portable.zip
- SHA256: EE9C06251E56695119B8184979F9BB17FB8BE44C2A0A46B34A8FDFA97CBCA502

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'
3. View the checksums at:  
    https://download.bleachbit.org/bleachbit-4.6.0-sha256sum.txt

## License
File 'LICENSE.txt' is obtained from:

- https://github.com/bleachbit/bleachbit/blob/master/COPYING
