# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped (portable) binary for BleachBit has been downloaded from 
the official website:

- https://www.bleachbit.org/download/windows

or directly:
- Version: 5.0.2
- URL: https://download.bleachbit.org/BleachBit-5.0.2-portable.zip
- SHA256: F1EBABD80F5DBFA1D0D17432F16E3818CF75C75EB153FDB2C79FB88029FFEDF7

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'
3. View the checksums at:  
    https://download.bleachbit.org/bleachbit-5.0.2-sha256sum.txt

## License
File 'LICENSE.txt' is obtained from:

- https://github.com/bleachbit/bleachbit/blob/master/COPYING
