# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version of the installer can be found on the official download page:
- https://www.zhornsoftware.co.uk/stickies/download.html

Release versions on the site are concluded with a letter, but the nuspec syntax
restricts lettered versions to beta status.  This package converts the
letter into a numbered version as needed.

or directly:
- Version : 10.2.1
- URL     : https://www.zhornsoftware.co.uk/stickies/stickies_setup_10_2a.exe
- SHA256  : 23EC60B840BF652F2158248B451D645D98DBB2AC71D6267CC2BBACA11EEAE5E5

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from the help included in the install:
