# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version of the installer can be found on the official download page:
- https://www.zhornsoftware.co.uk/stickies/download.html

Release versions on the site are concluded with a letter, but the nuspec syntax
restricts lettered versions to beta status.  This package converts the
letter into a numbered version as needed.

or directly:
- Version : 10.1.3
- URL     : https://www.zhornsoftware.co.uk/stickies/stickies_setup_10_1c.exe
- SHA256  : CF5CAD37C983E62599D50025D748B9FAF2151B272646AE600C873ED4F5D922C4

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from the help included in the install:
