# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official download page:
- https://www.softwareok.com/?Download=Q-Dir

or directly:
- Version      : 12.49
- x86 URL      : http://www.softwareok.com/Download/Q-Dir_Installer.zip
- x86 CheckSum : 3AB236868555DC0DBDF76856A1AC16961266BA02E06676D87EC9CC345D2A0B33
- x64 URL      : http://www.softwareok.com/Download/Q-Dir_Installer_x64.zip
- x64 CheckSum : E7B8C8B433DDCE19ABB1E2A13C67FCB23F6DF009D83D7705A9AD11F2F44D8A46

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The contents of the file 'LICENSE.txt' comes from:
- http://www.softwareok.com/?seite=Freeware/Q-Dir/Eula
