# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official download page:
- https://www.softwareok.com/?Download=Q-Dir

or directly:
- Version      : 12.12
- x86 URL      : http://www.softwareok.com/Download/Q-Dir_Installer.zip
- x86 CheckSum : 90B5C851E00F5327CA4BA3E92DAEF19F38A77A294E0DB274D09897ADA5B40833
- x64 URL      : http://www.softwareok.com/Download/Q-Dir_Installer_x64.zip
- x64 CheckSum : 2E54E4FD5E5C44D042495B83E1E5C672A3B001A82BAFE125C910AEB5A6EC0919

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The contents of the file 'LICENSE.txt' comes from:
- http://www.softwareok.com/?seite=Freeware/Q-Dir/Eula
