# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official download page:
- https://www.softwareok.com/?Download=Q-Dir

or directly:
- Version      : 11.98
- x86 URL      : http://www.softwareok.com/Download/Q-Dir_Installer.zip
- x86 CheckSum : 4841A6F024538D7C9E49FA65709F44CDD79BD879A94BBD1A8FFAD184B4C74258
- x64 URL      : http://www.softwareok.com/Download/Q-Dir_Installer_x64.zip
- x64 CheckSum : 1ECBAE7787BB8B760CD436AC088E83F2421A603C594261C0036B6BE856D2834E

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The contents of the file 'LICENSE.txt' comes from:
- http://www.softwareok.com/?seite=Freeware/Q-Dir/Eula
