# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official download page:
- https://www.softwareok.com/?Download=Q-Dir

or directly:
- Version      : 11.96
- x86 URL      : http://www.softwareok.com/Download/Q-Dir_Installer.zip
- x86 CheckSum : F877ECB8E48DB77AB6BB55114DB15EA732D7C798BA7FEC2FA165B97F3532AE42
- x64 URL      : http://www.softwareok.com/Download/Q-Dir_Installer_x64.zip
- x64 CheckSum : 99EE91742E3ABDBECD89DB6372AABEAAE105F71C6139F797E97ABC0B913733B9

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The contents of the file 'LICENSE.txt' comes from:
- http://www.softwareok.com/?seite=Freeware/Q-Dir/Eula
