# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official download page:
- https://www.softwareok.com/?Download=Q-Dir

or directly:
- Version      : 12.51
- x86 URL      : http://www.softwareok.com/Download/Q-Dir_Installer.zip
- x86 CheckSum : 28539AFE720493BE239C7C1E4E75F5BA251FDC9DAE78A9DBA12ED6FE3EAB2B32
- x64 URL      : http://www.softwareok.com/Download/Q-Dir_Installer_x64.zip
- x64 CheckSum : 8CA44C0AF82265DC85872BD96FF959AF9A6AB3DDA751FB41306A6961D48A487B

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The contents of the file 'LICENSE.txt' comes from:
- http://www.softwareok.com/?seite=Freeware/Q-Dir/Eula
