# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest Notepad4 zip files can be downloaded from this page:

https://github.com/zufuliu/notepad4/releases/latest

- Version    : 24.07.5332
- URL        : https://github.com/zufuliu/notepad4/releases/download/v24.07r5332/Notepad4_en_Win32_v24.07r5332.zip
- Checksum   : 4D44C0866379CE9B0C5E597A2CE7EFF9641CE346CA8B0B73EC2A6F25E1A8EB66
- URL64      : https://github.com/zufuliu/notepad4/releases/download/v24.07r5332/Notepad4_en_x64_v24.07r5332.zip
- Checksum64 : 024DAF43BFD24B0C61515D543A2656E653CBF27E4F0AD5995BC0A4F9DFF7B1C5

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The 'LICENSE.md' file comes from https://github.com/zufuliu/notepad4?tab=License-1-ov-file#readme
