# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest Notepad4 zip files embedded in this package can be downloaded from this page:

https://github.com/zufuliu/notepad4/releases/latest

The files are for:

- 32-bit build:  multi-language ("i18n"), Low-res, Win32
- 64-bit build:  multi-language ("i18n"), Hi-definition, AXV2-capable-processor

#### Direct Download
- Version    : 26.01.5986
- URL        : https://github.com/zufuliu/notepad4/releases/download/v26.01r5986/Notepad4_i18n_Win32_v26.01r5986.zip
- Checksum   : DDE90046A0C37784892625E03FBAE9B321F7F6EC9893A548AB76C9A637A12AC8
- URL64      : https://github.com/zufuliu/notepad4/releases/download/v26.01r5986/Notepad4_HD_i18n_AVX2_v26.01r5986.zip
- Checksum64 : DEBD7CF5AF6F640327F9EE45C7118A444FFE2DB0447E3CF75F8BDE2E605FA301

Other files available there are not embedded.


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The 'LICENSE.md' file comes from https://github.com/zufuliu/notepad4?tab=License-1-ov-file#readme
