# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest Notepad4 zip files embedded in this package can be downloaded from this page:

https://github.com/zufuliu/notepad4/releases/latest

The files are for:

- 32-bit build:  multi-language ("i18n"), Low-res, Win32
- 64-bit build:  multi-language ("i18n"), Hi-definition, AXV2-capable-processor

#### Direct Download
- Version    : 26.07.6234
- URL        : https://github.com/zufuliu/notepad4/releases/download/v26.07r6234/Notepad4_i18n_Win32_v26.07r6234.zip
- Checksum   : 912F635BC3CB1CD9989CAF306A47410EDEE55A569C666B027E73A0D2ED88CEA3
- URL64      : https://github.com/zufuliu/notepad4/releases/download/v26.07r6234/Notepad4_HD_i18n_AVX2_v26.07r6234.zip
- Checksum64 : BD884617824E60B250C1070C0C3503103CEB5A51D8AC6410ED118B17F381CDDA

Other files available there are not embedded.


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The 'LICENSE.md' file comes from https://github.com/zufuliu/notepad4?tab=License-1-ov-file#readme
