# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest Notepad4 zip files embedded in this package can be downloaded from this page:

https://github.com/zufuliu/notepad4/releases/latest

The files are for:

- 32-bit build:  multi-language ("i18n"), Low-res, Win32
- 64-bit build:  multi-language ("i18n"), Hi-definition, AXV2-capable-processor

#### Direct Download
- Version    : 25.07.5738
- URL        : https://github.com/zufuliu/notepad4/releases/download/v25.07r5738/Notepad4_i18n_Win32_v25.07r5738.zip
- Checksum   : FA79517CE6FF0FCBF39B6FD0F03138C927F9F5BFC1AA92EFAE31E29E55DC7756
- URL64      : https://github.com/zufuliu/notepad4/releases/download/v25.07r5738/Notepad4_HD_i18n_AVX2_v25.07r5738.zip
- Checksum64 : A549DC60F6E061BD7167A07418785FBA0C8AB306265C27E9F43090C1994F734A

Other files available there are not embedded.


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The 'LICENSE.md' file comes from https://github.com/zufuliu/notepad4?tab=License-1-ov-file#readme
