# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest Notepad4 zip files embedded in this package can be downloaded from this page:

https://github.com/zufuliu/notepad4/releases/latest

The files are for:

- 32-bit build:  multi-language ("i18n"), Low-res, Win32
- 64-bit build:  multi-language ("i18n"), Hi-definition, AXV2-capable-processor

#### Direct Download
- Version    : 25.09.5812
- URL        : https://github.com/zufuliu/notepad4/releases/download/v25.09r5812/Notepad4_i18n_Win32_v25.09r5812.zip
- Checksum   : 0A12B770C0CAB09E237DB72D52948B94264E0A0E0FF3BAD3658076562C3F6E02
- URL64      : https://github.com/zufuliu/notepad4/releases/download/v25.09r5812/Notepad4_HD_i18n_AVX2_v25.09r5812.zip
- Checksum64 : 48217A0398CDB39B083E44E438B08B02396072EB1F4E8475B062E620E94908D7

Other files available there are not embedded.


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The 'LICENSE.md' file comes from https://github.com/zufuliu/notepad4?tab=License-1-ov-file#readme
