# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest Notepad4 zip files embedded in this package can be downloaded from this page:

https://github.com/zufuliu/notepad4/releases/latest

The files are for:

- 32-bit build:  multi-language ("i18n"), Low-res, Win32
- 64-bit build:  multi-language ("i18n"), Hi-definition, AXV2-capable-processor

#### Direct Download
- Version    : 26.10.6392
- URL        : https://github.com/zufuliu/notepad4/releases/download/v26.10r6392/Notepad4_i18n_Win32_v26.10r6392.zip
- Checksum   : CAA931F22B1773CEE7246256E3A7917759F1C6C2817518750662A2B19D12BE82
- URL64      : https://github.com/zufuliu/notepad4/releases/download/v26.10r6392/Notepad4_HD_i18n_AVX2_v26.10r6392.zip
- Checksum64 : 80316B65CE9B6A0F460799BE93E6C2D9426E2DA3D001E80A68310631669F7030

Other files available there are not embedded.


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The 'LICENSE.md' file comes from https://github.com/zufuliu/notepad4?tab=License-1-ov-file#readme
