# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest Notepad4 zip files embedded in this package can be downloaded from this page:

https://github.com/zufuliu/notepad4/releases/latest

The files are for:

- 32-bit build:  multi-language ("i18n"), Low-res, Win32
- 64-bit build:  multi-language ("i18n"), Hi-definition, AXV2-capable-processor

#### Direct Download
- Version    : 24.11.5548
- URL        : https://github.com/zufuliu/notepad4/releases/download/v24.11r5548/Notepad4_i18n_Win32_v24.11r5548.zip
- Checksum   : 27A5E982803360A37B2D96A73EED267F93A46574D56D721E2B25693B650E8497
- URL64      : https://github.com/zufuliu/notepad4/releases/download/v24.11r5548/Notepad4_HD_i18n_AVX2_v24.11r5548.zip
- Checksum64 : 9D058E60D0A45606595ADC948402A12436EA42DC5661039B16FA0C0DFF1B4284

Other files available there are not embedded.


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The 'LICENSE.md' file comes from https://github.com/zufuliu/notepad4?tab=License-1-ov-file#readme
