# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest Notepad4 zip files embedded in this package can be downloaded from this page:

https://github.com/zufuliu/notepad4/releases/latest

The files are for:

- 32-bit build:  multi-language ("i18n"), Low-res, Win32
- 64-bit build:  multi-language ("i18n"), Hi-definition, AXV2-capable-processor

#### Direct Download
- Version    : 25.05.5690
- URL        : https://github.com/zufuliu/notepad4/releases/download/v25.05r5690/Notepad4_i18n_Win32_v25.05r5690.zip
- Checksum   : AAFFBA40E042E8B65C752B9F413B229B7B80D948DF4BF7C89033C67F6B35CF8C
- URL64      : https://github.com/zufuliu/notepad4/releases/download/v25.05r5690/Notepad4_HD_i18n_AVX2_v25.05r5690.zip
- Checksum64 : D7E8F5E20A17C1767AFDA1148630D1CC694120781EE2BDE8D6F7D10628F6AFEB

Other files available there are not embedded.


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The 'LICENSE.md' file comes from https://github.com/zufuliu/notepad4?tab=License-1-ov-file#readme
