# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest Notepad4 zip files embedded in this package can be downloaded from this page:

https://github.com/zufuliu/notepad4/releases/latest

The files are for:

- 32-bit build:  multi-language ("i18n"), Low-res, Win32
- 64-bit build:  multi-language ("i18n"), Hi-definition, AXV2-capable-processor

#### Direct Download
- Version    : 25.05.5670
- URL        : https://github.com/zufuliu/notepad4/releases/download/v25.05r5670/Notepad4_i18n_Win32_v25.05r5670.zip
- Checksum   : 8DF8F3200FF6DA5A82FC7DEA2935BAC823171D5C740C64A44C39AB3A7CC7F799
- URL64      : https://github.com/zufuliu/notepad4/releases/download/v25.05r5670/Notepad4_HD_i18n_AVX2_v25.05r5670.zip
- Checksum64 : 4BB7AA0CD12964C151D6CA84D26DB561D56753A972AE18360F62F258E83EA9BB

Other files available there are not embedded.


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The 'LICENSE.md' file comes from https://github.com/zufuliu/notepad4?tab=License-1-ov-file#readme
