# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest Notepad4 zip files embedded in this package can be downloaded from this page:

https://github.com/zufuliu/notepad4/releases/latest

The files are for:

- 32-bit build:  multi-language ("i18n"), Low-res, Win32
- 64-bit build:  multi-language ("i18n"), Hi-definition, AXV2-capable-processor

#### Direct Download
- Version    : 25.01.5618
- URL        : https://github.com/zufuliu/notepad4/releases/download/v25.01r5618/Notepad4_i18n_Win32_v25.01r5618.zip
- Checksum   : 09A4DEA9DB14539D18E8029BD7FCE8A2B29D64DDA653F048B3D4FAE94E212A7F
- URL64      : https://github.com/zufuliu/notepad4/releases/download/v25.01r5618/Notepad4_HD_i18n_AVX2_v25.01r5618.zip
- Checksum64 : 8584511E82B2C8107C800D51024555B540C424F4F212D3B164FF65050C9A7F7C

Other files available there are not embedded.


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The 'LICENSE.md' file comes from https://github.com/zufuliu/notepad4?tab=License-1-ov-file#readme
