# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest Notepad4 zip files embedded in this package can be downloaded from this page:

https://github.com/zufuliu/notepad4/releases/latest

The files are for:

- 32-bit build:  multi-language ("i18n"), Low-res, Win32
- 64-bit build:  multi-language ("i18n"), Hi-definition, AXV2-capable-processor

#### Direct Download
- Version    : 26.06.6196
- URL        : https://github.com/zufuliu/notepad4/releases/download/v26.06r6196/Notepad4_i18n_Win32_v26.06r6196.zip
- Checksum   : 90FF7B00BF4D6863E6A9282778C863714D0024986138984FC82A6D624DE3DEDA
- URL64      : https://github.com/zufuliu/notepad4/releases/download/v26.06r6196/Notepad4_HD_i18n_AVX2_v26.06r6196.zip
- Checksum64 : 899AC2F818E30BC6D7D524ACCD00C1DBCF97CC3259AB919191BB5655444F86B7

Other files available there are not embedded.


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The 'LICENSE.md' file comes from https://github.com/zufuliu/notepad4?tab=License-1-ov-file#readme
