# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest Notepad4 zip files embedded in this package can be downloaded from this page:

https://github.com/zufuliu/notepad4/releases/latest

The files are for:

- 32-bit build:  multi-language ("i18n"), Low-res, Win32
- 64-bit build:  multi-language ("i18n"), Hi-definition, AXV2-capable-processor

#### Direct Download
- Version    : 26.08.6282
- URL        : https://github.com/zufuliu/notepad4/releases/download/v26.08r6282/Notepad4_i18n_Win32_v26.08r6282.zip
- Checksum   : 1AF0662AA977C4C1045D103725DF1B9C7A662132B06CD7E2B616EF50829873CF
- URL64      : https://github.com/zufuliu/notepad4/releases/download/v26.08r6282/Notepad4_HD_i18n_AVX2_v26.08r6282.zip
- Checksum64 : 0F5EE121CC854E53C188C95277CD0FD364BF6DC6B11AE95C94607BBDDEF93105

Other files available there are not embedded.


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The 'LICENSE.md' file comes from https://github.com/zufuliu/notepad4?tab=License-1-ov-file#readme
