# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest Notepad4 zip files embedded in this package can be downloaded from this page:

https://github.com/zufuliu/notepad4/releases/latest

The files are for:

- 32-bit build:  multi-language ("i18n"), Low-res, Win32
- 64-bit build:  multi-language ("i18n"), Hi-definition, AXV2-capable-processor

#### Direct Download
- Version    : 25.11.5880
- URL        : https://github.com/zufuliu/notepad4/releases/download/v25.11r5880/Notepad4_i18n_Win32_v25.11r5880.zip
- Checksum   : 532EB6B3D7621C6013B8E0B4A8B4E073A53AE50D2A60650090DE8E9CF9F6950E
- URL64      : https://github.com/zufuliu/notepad4/releases/download/v25.11r5880/Notepad4_HD_i18n_AVX2_v25.11r5880.zip
- Checksum64 : FA91D11340CA44FFED4B726DBAC412130B5797B2504CE7E7D4246AC2AD212F96

Other files available there are not embedded.


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The 'LICENSE.md' file comes from https://github.com/zufuliu/notepad4?tab=License-1-ov-file#readme
