# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest Notepad4 zip files embedded in this package can be downloaded from this page:

https://github.com/zufuliu/notepad4/releases/latest

The files are for:

- 32-bit build:  multi-language ("i18n"), Low-res, Win32
- 64-bit build:  multi-language ("i18n"), Hi-definition, AXV2-capable-processor

#### Direct Download
- Version    : 26.05.6166
- URL        : https://github.com/zufuliu/notepad4/releases/download/v26.05r6166/Notepad4_i18n_Win32_v26.05r6166.zip
- Checksum   : A51076751710801F1CD0C0ED8B5FF2680C61CB939779ACC5084EC71A958F3770
- URL64      : https://github.com/zufuliu/notepad4/releases/download/v26.05r6166/Notepad4_HD_i18n_AVX2_v26.05r6166.zip
- Checksum64 : F37928814FEA095AAD96FD966C8EC0023C9150754061ECC983FC03889C5DCA8E

Other files available there are not embedded.


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The 'LICENSE.md' file comes from https://github.com/zufuliu/notepad4?tab=License-1-ov-file#readme
