# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest Notepad4 zip files embedded in this package can be downloaded from this page:

https://github.com/zufuliu/notepad4/releases/latest

The files are for:

- 32-bit build:  multi-language ("i18n"), Low-res, Win32
- 64-bit build:  multi-language ("i18n"), Hi-definition, AXV2-capable-processor

#### Direct Download
- Version    : 26.03.6058
- URL        : https://github.com/zufuliu/notepad4/releases/download/v26.03r6058/Notepad4_i18n_Win32_v26.03r6058.zip
- Checksum   : 218552D3A150C2E54AA187D382AD4D992CD956FBA2E0DF7BC08EE21E5D78E090
- URL64      : https://github.com/zufuliu/notepad4/releases/download/v26.03r6058/Notepad4_HD_i18n_AVX2_v26.03r6058.zip
- Checksum64 : 691096D58ABC6B71EE264A57267BFA0950A3A118BE8898F4A3E5C027F8EAA15C

Other files available there are not embedded.


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The 'LICENSE.md' file comes from https://github.com/zufuliu/notepad4?tab=License-1-ov-file#readme
