# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest Notepad4 zip files embedded in this package can be downloaded from this page:

https://github.com/zufuliu/notepad4/releases/latest

The files are for:

- 32-bit build:  multi-language ("i18n"), Low-res, Win32
- 64-bit build:  multi-language ("i18n"), Hi-definition, AXV2-capable-processor

#### Direct Download
- Version    : 24.09.5472
- URL        : https://github.com/zufuliu/notepad4/releases/download/v24.09r5472/Notepad4_i18n_Win32_v24.09r5472.zip
- Checksum   : 484DBE1FC188AF03915501FD3A6ECA60522BD0299D7B68A60F5A2352D6736812
- URL64      : https://github.com/zufuliu/notepad4/releases/download/v24.09r5472/Notepad4_HD_i18n_AVX2_v24.09r5472.zip
- Checksum64 : 55B4EE4879D29BA44D8A6FA546F3CE1E39D0ABE03B92F89EC00281333A75CE8E

Other files available there are not embedded.


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The 'LICENSE.md' file comes from https://github.com/zufuliu/notepad4?tab=License-1-ov-file#readme
