# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest Notepad4 zip files embedded in this package can be downloaded from this page:

https://github.com/zufuliu/notepad4/releases/latest

The files are for:

- 32-bit build:  multi-language ("i18n"), Low-res, Win32
- 64-bit build:  multi-language ("i18n"), Hi-definition, AXV2-capable-processor

#### Direct Download
- Version    : 25.06.5696
- URL        : https://github.com/zufuliu/notepad4/releases/download/v25.06r5696/Notepad4_i18n_Win32_v25.06r5696.zip
- Checksum   : 233A479CDECC2743D544AA9F9A7B5D06972E698102CFD0BF768D69307EAA7728
- URL64      : https://github.com/zufuliu/notepad4/releases/download/v25.06r5696/Notepad4_HD_i18n_AVX2_v25.06r5696.zip
- Checksum64 : 16274058F0776DDE2D9CFF1CC7B9862C0EBEE40E4A1E704637F40BEC5E8B2F78

Other files available there are not embedded.


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The 'LICENSE.md' file comes from https://github.com/zufuliu/notepad4?tab=License-1-ov-file#readme
