# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version of MarcEdit can be downloaded from the official site:
   https://marcedit.reeset.net/downloads
and clicking the "Windows Build Options" link and downloading the "Consolidated Build".

Direct download:   
- Version : 7.7.56
- URL     : https://marcedit.reeset.net/software/marcedit75/MarcEdit_7_7_mixed.exe
- SHA256  : 0EF83F36C1B0C00721C56D77B3CB5EDF1604857A424C2B2A6C9FBEEFD7BD4659

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from:  https://marcedit.reeset.net/marcedit-end-user-license-agreement



