# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official download page:
- https://realityripple.com/Software/Applications/SecondFactor/

or directly:
- Version  : 2.1
- URL      : https://realityripple.com/Software/Applications/SecondFactor/SF_Setup.exe
- Checksum : 96C9DBCFF59BF33DB65CAFDD36F4C5F6608A366A413BD744E2600A59EB6D63B7

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is copied from https://realityripple.com/license.php
