# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official download page:
- https://realityripple.com/Software/Applications/SecondFactor/

or directly:
- Version  : 1.4.5
- URL      : https://realityripple.com/Software/Applications/SecondFactor/SF_Setup.exe
- Checksum : DA8EE6AA890875CE6E4C0EB7AF245874F77E16B72F547E703E93904EFB87F6FC

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is copied from https://realityripple.com/license.php
