# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official download page:
- https://realityripple.com/Software/Applications/SecondFactor/

or directly:
- Version  : 1.4.4.2
- URL      : https://realityripple.com/Software/Applications/SecondFactor/SF_Setup.exe
- Checksum : 728e9fa4e38e90d28e2bb2a31c7cf23e072118cbaf2c0b249d02bf445abe1ab3

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is copied from https://realityripple.com/license.php
