# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official download page:
- https://realityripple.com/Software/Applications/SecondFactor/

or directly:
- Version  : 2.0
- URL      : https://realityripple.com/Software/Applications/SecondFactor/SF_Setup.exe
- Checksum : 418691AC5E00A66FB680368C200F8E0F6DFB7C27626EACC83451661B19D21EFC

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is copied from https://realityripple.com/license.php
