# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the official download link:
- https://mupdf.com/downloads

or directly:
- Version: 1.19.1
- URL:     https://mupdf.com/downloads/archive/mupdf-1.19.1-windows.zip
- SHA256 Checksum: A369B09655B22DFF3394DDE40350DEAE8763F0F1DEB52801220ACEE70A4360AD

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://git.ghostscript.com/?a=blob;f=COPYING;p=mupdf.git
