# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the official download link:
- https://mupdf.com/downloads

or directly:
- Version: 1.25.1
- URL:     https://mupdf.com/downloads/archive/mupdf-1.25.1-windows.zip
- SHA256 Checksum: A2B0D237C3315E26B451618F9552F3BFCE7A61B8A5682797255EE273D1664D9F

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.gnu.org/licenses/agpl-3.0.txt
