# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the official download link:
- https://mupdf.com/downloads

or directly:
- Version: 1.19.0
- URL:     https://mupdf.com/downloads/archive/mupdf-1.19.0-rc2-windows.zip
- SHA256 Checksum: 244B312F11D0FA0BADD8642CDF3F705098F10A710AEA21B12F9C70E341078A28

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://git.ghostscript.com/?a=blob;f=COPYING;p=mupdf.git
