# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the official download link:
- https://mupdf.com/releases

or directly:
- Version: 1.28.0
- URL:     https://mupdf.com/downloads/archive/mupdf-1.28.0-windows.zip
- SHA256 Checksum: A0EE869BF38EE66B19CD30C281D04E91215F812F0CB20177CD1F69C74C33EB22

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.gnu.org/licenses/agpl-3.0.txt
