# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the official download link:
- https://mupdf.com/downloads

or directly:
- Version: 1.20.0
- URL:     https://mupdf.com/downloads/archive/mupdf-1.20.0-rc1-windows.zip
- SHA256 Checksum: BB18FBC5ACF02B64DD77E3B9DAC8D09D5F24E395B6B7CAAB8045E31B0348907C

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.gnu.org/licenses/agpl-3.0.txt
