# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the official download link:
- https://mupdf.com/downloads

or directly:
- Version: 1.21.0
- URL:     https://mupdf.com/downloads/archive/mupdf-1.21.0-rc1-windows.zip
- SHA256 Checksum: F257EA8F09C22910D499C5720BEA9600F8C94C49E0170A639D22246D9B8FDBFE

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.gnu.org/licenses/agpl-3.0.txt
