# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the official download link:
- https://mupdf.com/downloads

or directly:
- Version: 1.24.0
- URL:     https://mupdf.com/downloads/archive/mupdf-1.24.0-windows.zip
- SHA256 Checksum: 6D36D29BBBCA6A4D3C16F857727DC266AA9C1ECA6C5E1FBE822EC24B3FC1B157

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.gnu.org/licenses/agpl-3.0.txt
