# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the official download link:
- https://mupdf.com/downloads

or directly:
- Version: 1.25.2
- URL:     https://mupdf.com/downloads/archive/mupdf-1.25.2-windows.zip
- SHA256 Checksum: 8CDD89AB8E638E7FD9E2AE3E75DD980AAFE507BEA63AD7A2EEAFF1BE403FFF8C

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.gnu.org/licenses/agpl-3.0.txt
