# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the official download link:
- https://mupdf.com/releases

or directly:
- Version: 1.26.0
- URL:     https://casper.mupdf.com/downloads/archive/mupdf-1.26.0-windows.zip
- SHA256 Checksum: 9C24B35100A55A77799292B9D2232574090D905281371D0B6CE2FFACA6B436C6

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.gnu.org/licenses/agpl-3.0.txt
