# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the official download link:
- https://mupdf.com/releases

or directly:
- Version: 1.26.2
- URL:     https://casper.mupdf.com/downloads/archive/mupdf-1.26.2-windows.zip
- SHA256 Checksum: FA68AF878F6B02D970AFA8C87F85F3A5AADFAE254893FF57B2B733BFDCCA5C9D

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.gnu.org/licenses/agpl-3.0.txt
