# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the official download link:
- https://mupdf.com/releases

or directly:
- Version: 1.28.5
- URL:     https://mupdf.com/downloads/archive/mupdf-1.28.5-windows.zip
- SHA256 Checksum: 13476A53E84F5527983158ACB6442C7853B3CDC022F3B24880780DCFBA1FCC99

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.gnu.org/licenses/agpl-3.0.txt
