# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the official download link:
- https://mupdf.com/downloads

or directly:
- Version: 1.22.1
- URL:     https://mupdf.com/downloads/archive/mupdf-1.22.1-windows.zip
- SHA256 Checksum: E65FBE742C1B1C312B0B5AD2CFDFD170867DF9417659ABEBC779D88EFCCE754E

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.gnu.org/licenses/agpl-3.0.txt
