# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Sioyek can be downloaded from the GitHub release page:

    https://github.com/ahrm/sioyek/releases/latest

Direct download:   
- Version  : 2.0.0
- URL      : https://github.com/ahrm/sioyek/releases/download/v2.0.0/sioyek-release-windows.zip
- SHA256   : 30EE5F02F9C4547905164E4648948E28D00A5C89799266EEFFC50E156A01DFD4

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://github.com/ahrm/sioyek/blob/main/LICENSE
