# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The Meazure installer can be downloaded from the GitHub releases page:
- https://github.com/cthing/meazure/releases

or directly:
- Version : 3.0.2
- URL     : https://github.com/cthing/meazure/releases/download/3.0.2/meazr302x64.exe
- SHA256  : 7388FB0FEC06F66CDA33291F8B65E5611802667E393D5A181D75F1841E8FA6B7

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/cthing/meazure/blob/master/LICENSE
