# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The Meazure installer can be downloaded from the GitHub releases page:
- https://github.com/cthing/meazure/releases

or directly:
- Version : 4.0.0
- URL     : https://github.com/cthing/meazure/releases/download/4.0.0/meazr400x64.exe
- SHA256  : 4478CCA366237CE65E0F2805A74E9F2919F87E87B0A58ED999DEE0367CFC8ACF

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/cthing/meazure/blob/master/LICENSE
