# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
- https://github.com/deepnight/ldtk/releases/latest

or directly:
- Version : 1.5.3
- URL     : https://github.com/deepnight/ldtk/releases/download/v1.5.3/LDtk-1.5.3-installer.exe
- SHA256  : 61db0588c5d6a3f4de4c0e4ae0414f011b07f387dd019af4fa96f5fa7eb94822

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File content of 'LICENSE.txt' is copied from:
- https://github.com/deepnight/ldtk/blob/master/LICENSE
