# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of Keyman can be downloaded by clicking the "Download"
button on the official site:

- https://keyman.com/windows/

Or Directly:

- Version : 18.0.255
- URL     : https://downloads.keyman.com/windows/stable/18.0.255/keyman-18.0.255.exe
- SHA256  : D6DB45A0F64BC1CB104DDB96C146B711774144B11A0A85D07FBEE6F78FB4963F

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/keymanapp/keyman?tab=License-1-ov-file#readme
