# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of Keyman can be downloaded by clicking the "Download"
button on the official site:

- https://keyman.com/windows/

Or Directly:

- Version : 18.0.238
- URL     : https://downloads.keyman.com/windows/stable/18.0.238/keyman-18.0.238.exe
- SHA256  : 5ED5B13106A88D2E509D18E017AEE3549D506B39A68CA6A98DAFE23F2737A9E6

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/keymanapp/keyman?tab=License-1-ov-file#readme
