# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of Keyman can be downloaded by clicking the "Download"
button on the official site:

- https://keyman.com/windows/

Or Directly:

- Version : 18.0.248
- URL     : https://downloads.keyman.com/windows/stable/18.0.248/keyman-18.0.248.exe
- SHA256  : 45E8312468E75C44E2304E8D33610E868792CBC416EDA58C2BC942AFE6AD48BD

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/keymanapp/keyman?tab=License-1-ov-file#readme
