# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of Keyman can be downloaded by clicking the "Download"
button on the official site:

- https://keyman.com/windows/

Or Directly:

- Version : 18.0.240
- URL     : https://downloads.keyman.com/windows/stable/18.0.240/keyman-18.0.240.exe
- SHA256  : F9F15BD28BBE4044D8047AF4CDA8C6CFD2F6679741DB0ADCD0B7FCF0AE5BA555

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/keymanapp/keyman?tab=License-1-ov-file#readme
