# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped font files are downloadable from the GitHub releases page:
- https://github.com/graphicore/librebarcode/releases

or directly:
- Version : 1.008
- URL     : https://github.com/graphicore/librebarcode/releases/download/v1.008/LibreBarcode_v1.008.zip
- SHA256  : e3b9ed8cc7194788f9c9b194d94000e6de054cfbf202f4e20d22981847510d05

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from and is included in the zip download:
- https://github.com/graphicore/librebarcode/blob/master/OFL.txt
