# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped font files are downloadable from the "Download" link on the Charis SIL home page:

    https://software.sil.org/charis/

or the GitHub releases page:

    https://github.com/silnrsi/font-charis/releases

or directly:

- Version : 6.200
- URL     : https://software.sil.org/downloads/r/charis/CharisSIL-6.200.zip
- SHA256  : 4B09AA75760B8AA697B762C34AFB995DDE0754C8F09256CB912DBFC478C97ADE

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' comes from:

- https://openfontlicense.org/documents/OFL.txt
