# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped font files are downloadable from the "Download" link on the Charis SIL home page:

    https://software.sil.org/charis/

or the GitHub releases page:

    https://github.com/silnrsi/font-charis/releases

or directly:

- Version : 7.000
- URL     : https://software.sil.org/downloads/r/charis/Charis-7.000.zip
- SHA256  : E3237B1303C5D31AF8F59B1D1914886C5E873B77C71390E4742FB3BC1C187666

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' comes from:

- https://openfontlicense.org/documents/OFL.txt
