# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer can be downloaded from the official download page:
- https://www.petges.lu/download/

or directly:
- Version: 11.10
- URL:     https://www.petges.lu/pubfiles/ac-11_10.exe
- SHA256 Checksum: 26DBCF9B0D460929117D01FF23691C7752154FA02E053F16A168F4A0C37B94A4

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
Contents of the file 'LICENSE.txt' is obtained from the installer License Agreement window