# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer can be downloaded from the official download page:
- https://www.petges.lu/download/

Some versions on the site are concluded with a letter, but the nuspec syntax
restricts lettered versions to beta status.  This package converts the
letter into a numbered version as needed.

or directly:
- Version: 11.40.2
- URL:     https://www.petges.lu/pubfiles/ac-11_40b.exe
- SHA256:  465309FD1D518E0D5E15B952878494797AC863D30F0BBEDB92B7B9BF8929A960

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
Contents of the file 'LICENSE.txt' is obtained from the installer License Agreement window
