# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer can be downloaded from the official download page:
- https://www.petges.lu/download/

Some versions on the site are concluded with a letter, but the nuspec syntax
restricts lettered versions to beta status.  This package converts the
letter into a numbered version as needed.

or directly:
- Version: 11.30a
- URL:     https://www.petges.lu/pubfiles/ac-11_30a.exe
- SHA256 Checksum: 70e00a643339d1488443783f86f2ba780850ca52bcc2e34537e275fd449c1f39

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
Contents of the file 'LICENSE.txt' is obtained from the installer License Agreement window