# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer can be downloaded from the official download page:
- https://www.petges.lu/download/

Some versions on the site are concluded with a letter, but the nuspec syntax
restricts lettered versions to beta status.  This package converts the
letter into a numbered version as needed.

or directly:
- Version: 11.50
- URL:     https://pubfiles.petges.lu/ac-11_50.exe
- SHA256:  22DFDBCE95543F490F0C84E15010D495D1F95C6FA51E4624F8D678B8A23B3655

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
Contents of the file 'LICENSE.txt' is obtained from the installer License Agreement window
