# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer can be downloaded from the official download page:
- https://www.petges.lu/download/

or directly:
- Version: 11.0
- URL:     https://www.petges.lu/pubfiles/ac-11_00.exe
- SHA256 Checksum: 9BAE22DA36DE57F38CC0BA4E6A1A5A25B998C2C698FB74B6ADE00F1021EAB9D3

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
Contents of the file 'LICENSE.txt' is obtained from the installer License Agreement window