# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
https://github.com/veyon/veyon/releases

or directly:
- Version    : 4.10.1
- URL        : https://github.com/veyon/veyon/releases/download/v4.10.1/veyon-4.10.1.0-win32-setup.exe
- CheckSum   : EB5FD3576B22E5F1E627CC1D41A61568C151B097036DC9DF6E2E1427D9C69991
- URL64      : https://github.com/veyon/veyon/releases/download/v4.10.1/veyon-4.10.1.0-win64-setup.exe
- CheckSum64 : DEBCA57C8A10E909DA55923A0870A24B7C1D2819B72DF7E1B4DB72EC87DA89F5

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://raw.githubusercontent.com/veyon/veyon/master/COPYING
