# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
https://github.com/veyon/veyon/releases

or directly:
- Version    : 4.10.0
- URL        : https://github.com/veyon/veyon/releases/download/v4.10.0/veyon-4.10.0.0-win32-setup.exe
- CheckSum   : 980BE7565AC3CCDFE5DF823814E7B8ADEFFD42472D6C5B094422A1FAD269AC28
- URL64      : https://github.com/veyon/veyon/releases/download/v4.10.0/veyon-4.10.0.0-win64-setup.exe
- CheckSum64 : E0CB164A6B5F73E9055B84753783A691BD4F57FF2A92E6124328956BA84EB618

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://raw.githubusercontent.com/veyon/veyon/master/COPYING
