# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
https://github.com/veyon/veyon/releases

or directly:
- Version    : 4.11.4
- URL        : https://github.com/veyon/veyon/releases/download/v4.11.4/veyon-addons-4.11.4.0-win32-setup.exe
- CheckSum   : 496019DA0F0325F1513E20E3CE0B7C0A171356A4F73DA27D320703B4188E78A9
- URL64      : https://github.com/veyon/veyon/releases/download/v4.11.4/veyon-addons-4.11.4.0-win64-setup.exe
- CheckSum64 : 621008B05881908DE5BE4BBDE0674699A80EF1B71F2E0CF17EABD94476634F67

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://raw.githubusercontent.com/veyon/veyon/master/COPYING
