# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
https://github.com/veyon/veyon/releases

or directly:
- Version    : 4.10.2
- URL        : https://github.com/veyon/veyon/releases/download/v4.10.2/veyon-4.10.2.0-win32-setup.exe
- CheckSum   : 020AAE0324C6DF8CB3D03B4923A8DDA3CFD81BF81E9096C58BBC80D6234FFAEA
- URL64      : https://github.com/veyon/veyon/releases/download/v4.10.2/veyon-4.10.2.0-win64-setup.exe
- CheckSum64 : CAC706D0A99315BF43208A8F5CCF2BFDB578C53195D71AECE4A4473D8D724342

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://raw.githubusercontent.com/veyon/veyon/master/COPYING
