# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
https://github.com/veyon/veyon/releases

or directly:
- Version    : 4.11.3
- URL        : https://github.com/veyon/veyon/releases/download/v4.11.3/veyon-4.11.3.0-win32-setup.exe
- CheckSum   : 6A194340C1417A40417F43C661A94B7EA07E39B1CE2AB9612BECEB33772D181B
- URL64      : https://github.com/veyon/veyon/releases/download/v4.11.3/veyon-4.11.3.0-win64-setup.exe
- CheckSum64 : 6ACAD4FC310E915A631477373F7649D51B74FBE8C41C5B0AB38D2FA852876B73

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://raw.githubusercontent.com/veyon/veyon/master/COPYING
