# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
https://github.com/veyon/veyon/releases

or directly:
- Version    : 4.11.0
- URL        : https://github.com/veyon/veyon/releases/download/v4.11.0/veyon-4.11.0.0-win32-setup.exe
- CheckSum   : 8B0D784CD8E282E1148C45DA447674D23FAB5BB700DA5182104D20D9E272F575
- URL64      : https://github.com/veyon/veyon/releases/download/v4.11.0/veyon-4.11.0.0-win64-setup.exe
- CheckSum64 : 9C2FAAFE9FAFE14910861280F844AC8E1F24D07AE132FED8F39BD34AABB311D8

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://raw.githubusercontent.com/veyon/veyon/master/COPYING
