# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
https://github.com/veyon/veyon/releases

or directly:
- Version    : 4.9.8
- URL        : https://github.com/veyon/veyon/releases/download/v4.9.8/veyon-4.9.8.0-win32-setup.exe
- CheckSum   : 468ed2633ddb2d8a15126c050c0ca37d8f7229037e0b3c9ee8be6cb325577568
- URL64      : https://github.com/veyon/veyon/releases/download/v4.9.8/veyon-4.9.8.0-win64-setup.exe
- CheckSum64 : 9bec6c413b290e1d425bbcad0de4c3e2b4082ee28014224db0186a51ae8e8a9e

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://raw.githubusercontent.com/veyon/veyon/master/COPYING
