# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
https://github.com/veyon/veyon/releases

or directly:
- Version    : 4.11.2
- URL        : https://github.com/veyon/veyon/releases/download/v4.11.2/veyon-4.11.2.0-win32-setup.exe
- CheckSum   : 594F379A1DCD2727C073765323B14838DA521920AF6AFAFA7FAC2E8C412DF7F8
- URL64      : https://github.com/veyon/veyon/releases/download/v4.11.2/veyon-4.11.2.0-win64-setup.exe
- CheckSum64 : 7EC3F0689F995FE7C79D3F5B106E85DADE089AB24F534E92A168543197F0E428

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://raw.githubusercontent.com/veyon/veyon/master/COPYING
