# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
https://github.com/veyon/veyon/releases

or directly:
- Version    : 4.10.4
- URL        : https://github.com/veyon/veyon/releases/download/v4.10.4/veyon-4.10.4.0-win32-setup.exe
- CheckSum   : 6E2D159760C94220F5569A342890DD74A1E85D483B62C9B8A6F97CA41D990949
- URL64      : https://github.com/veyon/veyon/releases/download/v4.10.4/veyon-4.10.4.0-win64-setup.exe
- CheckSum64 : 7850108B02440EF4C739EF659D9C21B2F78BDE2601C1E213DD33C99B02E6132D

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://raw.githubusercontent.com/veyon/veyon/master/COPYING
