# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the source releases page:
- https://github.com/henrypp/timevertor/releases

or directly:
Version : 1.4.3
URL     : https://github.com/henrypp/timevertor/releases/download/v.1.4.3/timevertor-1.4.3-bin.zip
SHA256  : 0EAD64FDD21EB4A3970C663803C577C6BD16872E6745CD582B534CEE36CADB2A

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'
3. https://github.com/henrypp/timevertor/releases/download/v.1.4.3/timevertor-1.4.3.sha256


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/henrypp/timevertor/blob/master/LICENSE
