# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 5.2.0.0
- x32 SHA256 : 5612B236AF9A90D1528FAFE7D62C66EA56B8FC97AA9DFADB5880B2472953CD14
- x64 SHA256 : B689D9F6DDAE80C736677574D23992754DC7F54D87C4D4CC8009CA3DBC462FBE

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
