# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 5.3.0.2
- x32 SHA256 : 7EA7D34BC7A306538D105BB280AB1FC57909858124EF958B87A061C80CE70C48
- x64 SHA256 : 07A64A65F0B7348BAC9FFC769FA75662AC4E3745F588F9F5B14705532A0CDACE

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
