# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can only be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A direct download URL is not available.   

- Version    : 6.3.0.3
- x32 SHA256 : 0CBF382FCC6725A72973E6C30030D31AEB8D2F145C478F296B884674BBD2B3C1
- x64 SHA256 : 029709E9E4558E2F5BAA4F9651ED9C8657096565150729B10AC9BC411B04CFD7

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
