# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 5.5.0.1
- x32 SHA256 : bdf2096a358b2c7a94dd0fc674bb46fcd447fc9f42a694ec5f225c7d4b5b1186
- x64 SHA256 : bb0492c069d54d49929e1596487b9c5866539237c744de4bf4296fb3f3b7e045

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
