# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can only be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A direct download URL is not available.   

- Version    : 6.1.0.2
- x32 SHA256 : 354273E860B5572BAD9953865348236C2AEB05A1C26DFEF75BE9D1A5A454421A
- x64 SHA256 : 88758CBEA4508D9AF3CDDBFEF10281586B5C5DB29B3E734656738A3C5947A0A9

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
