# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can only be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A direct download URL is not available.   

- Version    : 6.1.0.3
- x32 SHA256 : 5477A3C0F414D884BC1AEB03E6C51AEEF759132FF7EE7454A51068E9C7030FDF
- x64 SHA256 : DD38530DABB6C21C056B50A56841034739B3155CD5F15132130E2EC16F2CDFF4

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
