# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 6.1.0.1
- x32 SHA256 : df28b5b9b942a37c57e6b4bfadd94df10ab97b24edd3382172848e0fdbf606e3
- x64 SHA256 : 1a21db84df2bdb789686ddcaca3d187a0ae2bdca67e8cf249f42278399883120

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
