# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can only be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A direct download URL is not available.   

- Version    : 6.1.0.4
- x32 SHA256 : 22918561D496DD5B231DD625A2F4C3DA959F5B4D83E6D29D1ED88311C4E87FE0
- x64 SHA256 : 0A7E9089DC528AC92D491B2474333D01BA28B1BD2D3DBABA936BBF4CA4C639C7

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
