# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can only be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A direct download URL is not available.   

- Version    : 6.4.0.0
- x32 SHA256 : CD3DE205119F31E48694EC2641C9FB2CE87ABCF64ABB159559F230A75865543D
- x64 SHA256 : 3C5A58B9AD62EB629AE6D1B8133BF176251A0C680EE47C3DF44459A2F2853906

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
