# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 5.4.0.1
- x32 SHA256 : c7d9899c1e65a9e7a416a16bd5f48461ce7a00ae06996f61b122e5ab44bb22e9
- x64 SHA256 : f3417915417e7cf1c1cdd8cd4f87a948a950bc411e34e9009e2a6e89486c8345

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
