# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 5.4.0.2
- x32 SHA256 : f28ea4e27aabd32b7f9be8c1457944c82e9721d1f591e1e13bd90bf2094781b8
- x64 SHA256 : a7442c8917a74a73bc1da3ccbae77937daaa22fc0ee1e52e68c126558c4d0176

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
