# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can only be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A direct download URL is not available.   

- Version    : 6.2.0.1
- x32 SHA256 : CF37CF6A33981A168F51CBEF621CCFB55FDF07B3F3CFDD8CF86CC0E36B611F40
- x64 SHA256 : 5A0D1D149579A1ECB96C64251DA8D9DFFE57AA9968ACB90D87BEEFAFCA52BE6A

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
