# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 6.1.0.2
- x32 SHA256 : 354273e860b5572bad9953865348236c2aeb05a1c26dfef75be9d1a5a454421a
- x64 SHA256 : 88758cbea4508d9af3cddbfef10281586b5c5db29b3e734656738a3c5947a0a9

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
