# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 5.5.0.0
- x32 SHA256 : 83358321b4bae9cef674bf6d30db45cc6325c1e5f442bc250f84c19118c6991a
- x64 SHA256 : 18a4eac84fad07175637784e6299779b39ffd49e0f8309f393364db8efd00117

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
