# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 6.0.0.1
- x32 SHA256 : 1e974e8ed0d5294861581e984b0e43974708d60c4fd18c64f0b363b331581f2f
- x64 SHA256 : ee19f566cb5ccfba739870fd36f7f93b481f3f684184897a0ace86364e352f79

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
