# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can only be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A direct download URL is not available.   

- Version    : 6.2.0.3
- x32 SHA256 : 15A90CFB375B12BDE10813FD8D145BB075C9F4995161A4D02D002F6FEFBB3E13
- x64 SHA256 : E28FB62F9638E55D32DF1A97F4C7FFBB0CECAFC6DF4C928AAD04CF6B6B3A5DCE

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
