# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 5.2.0.0
- x32 SHA256 : 1b1d47bb7faf19c845b7493d491428f01dba54f3905b78e5f5a66909a80cf69e
- x64 SHA256 : 7905d5239ea7f9ea3edc57f085a71774807f13f0c78c1567ef8674660831d875

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
