# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 5.2.0.1
- x32 SHA256 : 20CD0CBB74C24C5E4FBE9C73C21A7363A2444D573D02EF57501E578E87DFC2CD
- x64 SHA256 : 8ADD289EF93006B4994E5F6BE33FA854708088CE2828E32643769D2C0D046B15

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
