# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can only be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A direct download URL is not available.   

- Version    : 6.1.0.5
- x32 SHA256 : 81A0FA6B269734F1693AD0F0E42C2EB368AC6C000DEE3D59FA1000FBF7EE8D43
- x64 SHA256 : 3BF1EE0F6A384F0802C7AA1BF1951F7E5D4F78729DB1DA8AC0BBE34349F32FC7

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
