# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can only be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A direct download URL is not available.   

- Version    : 6.2.0.0
- x32 SHA256 : 754B67F46C0C829AEAFCF9B5ECC47DA3CBF0897232C8474C403F0A32171AE2B0
- x64 SHA256 : 6C888BA6CAA26005A8900042083E61D1302E1F554E076DB0573D63C809F6B42D

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
