# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
All current releases of xplorer² can be downloaded by clicking the link
for the "flavor" of interest on this page:

- https://www.zabkat.com/alldown.htm

A consistent direct download URL is not available:  

- Version    : 6.0.0.3
- x32 SHA256 : 678b6592d6c2a38a9ffd53bdad9110de41c985503587ebba1512172dc9ca1ded
- x64 SHA256 : 377cea085d5ec8b897642ddbf0614b697da03b9f064523b7db23b8287021f73f

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.zabkat.com/x2lic.txt
