# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer can be downloaded from the GitHub releases page:
- https://github.com/namazso/OpenHashTab/releases

or directly:
Version : 3.1.1
x86_URL     : https://github.com/namazso/OpenHashTab/releases/download/3.1.1/OpenHashTab_Machine_x86.msi
x86_SHA256  : 51C0C1E9936B77F4EE9AD6A6BEE225FCB0B37ECE38153E1006A5B6EF9F5A7F66
x64_URL     : https://github.com/namazso/OpenHashTab/releases/download/3.1.1/OpenHashTab_Machine_x64.msi
x64_SHA256  : abd24e22853404d7468e461521694c6295740b5eef7aabda3dbcd548c09cf67f

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/namazso/OpenHashTab/blob/master/COPYING
