# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer can be downloaded from the GitHub releases page:
- https://github.com/namazso/OpenHashTab/releases

or directly:
Version : 3.0.4
URL     : https://github.com/namazso/OpenHashTab/releases/download/v3.0.4/OpenHashTab_setup.exe
SHA256  : 9966E3ED6693DFC42904A2AAA1B294A2CD1EDD059EF795729A76956CC21CD239

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/namazso/OpenHashTab/blob/master/COPYING
