# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer can be downloaded from the GitHub releases page:
- https://github.com/namazso/OpenHashTab/releases

or directly:
Version : 3.0.5
URL     : https://github.com/namazso/OpenHashTab/releases/download/v3.0.5/OpenHashTab_setup.exe
SHA256  : 98FB1F2D230DFA0A26915C5B314881FBB9FA76B9EDBB720FDEACA35F3CB35F95

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/namazso/OpenHashTab/blob/master/COPYING
