# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The OpenWebStart installers can be downloaded from the GitHub releases page:
- https://github.com/karakun/OpenWebStart/releases

or directly:
- Version    : 1.12.0
- x86 URL    : https://github.com/karakun/OpenWebStart/releases/download/v1.12.0/OpenWebStart_windows-x32_1_12_0.exe
- x86 SHA256 : 467D7707E41869CD68F87D5E83D2357F3BD8242C4F78F47409F40378FF90CF58
- x64 URL    : https://github.com/karakun/OpenWebStart/releases/download/v1.12.0/OpenWebStart_windows-x64_1_12_0.exe
- x64 SHA256 : 3950A24229840575BF8D38364D20384B5DEF087F61709C673EFB8A60C22E4EF3


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/karakun/OpenWebStart/blob/master/LICENSE.md
