# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The OpenWebStart installers can be downloaded from the GitHub releases page:
- https://github.com/karakun/OpenWebStart/releases

or directly:
- Version    : 1.11.1
- x86 URL    : https://github.com/karakun/OpenWebStart/releases/download/v1.11.1/OpenWebStart_windows-x32_1_11_1.exe
- x86 SHA256 : C7601D34249362F0BB541803F7A6DB8CB03B216DB164CAED63773F2823D332CA
- x64 URL    : https://github.com/karakun/OpenWebStart/releases/download/v1.11.1/OpenWebStart_windows-x64_1_11_1.exe
- x64 SHA256 : 80982807EE55475F1FF4BE9F97E86F7DE148CEB87191873C6CA0715FD79D6B14


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/karakun/OpenWebStart/blob/master/LICENSE.md
