# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The OpenWebStart installers can be downloaded from the GitHub releases page:
- https://github.com/karakun/OpenWebStart/releases

or directly:
- Version    : 1.10.1
- x86 URL    : https://github.com/karakun/OpenWebStart/releases/download/v1.10.1/OpenWebStart_windows-x32_1_10_1.exe
- x86 SHA256 : 31E88D6939A237D09E62230F36237523800455C516BFAC76A44C8225D2B453D0
- x64 URL    : https://github.com/karakun/OpenWebStart/releases/download/v1.10.1/OpenWebStart_windows-x64_1_10_1.exe
- x64 SHA256 : 1C8FCFF487A686297F61DAB156AE42C89C082E91457911AE52F443F119472214


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/karakun/OpenWebStart/blob/master/LICENSE.md
