# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The OpenWebStart installers can be downloaded from the GitHub releases page:
- https://github.com/karakun/OpenWebStart/releases

or directly:
- Version    : 1.14.0
- x64 URL    : https://github.com/karakun/OpenWebStart/releases/download/v1.14.0/OpenWebStart_windows-x64_1_14_0.exe
- x64 SHA256 : 1088D635E685CD4161F2D900F1E20D564DA33138934B338060DDB8D826EB3C99


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/karakun/OpenWebStart/blob/master/LICENSE.md
