# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The OpenWebStart installers can be downloaded from the GitHub releases page:
- https://github.com/karakun/OpenWebStart/releases

or directly:
- Version    : 1.11.0
- x86 URL    : https://github.com/karakun/OpenWebStart/releases/download/v1.11.0/OpenWebStart_windows-x32_1_11_0.exe
- x86 SHA256 : 8F06659FD9B65128255F7D60C2018E54FF9F166221B54185120A6AE1CD60CD8D
- x64 URL    : https://github.com/karakun/OpenWebStart/releases/download/v1.11.0/OpenWebStart_windows-x64_1_11_0.exe
- x64 SHA256 : 54BE75A66E85540A7022A8E0BACD0731B74C48FC501CF9FA76C9244AAEF23ED0


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/karakun/OpenWebStart/blob/master/LICENSE.md
