# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The OpenWebStart installers can be downloaded from the GitHub releases page:
- https://github.com/karakun/OpenWebStart/releases

or directly:
- Version    : 1.7.0
- x86 URL    : https://github.com/karakun/OpenWebStart/releases/download/v1.7.0/OpenWebStart_windows-x32_1_7_0.exe
- x86 SHA256 : 8B4A3B0ECE5944FD510538DF90A8080ED4AF4079BBA06A5577437FD717782A95
- x64 URL    : https://github.com/karakun/OpenWebStart/releases/download/v1.7.0/OpenWebStart_windows-x64_1_7_0.exe
- x64 SHA256 : 592EC684878149A04E9C435444FD1FF49255CC98A0191F88D66AC2B2E49AE68A


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/karakun/OpenWebStart/blob/master/LICENSE.md
