# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The OpenWebStart installers can be downloaded from the GitHub releases page:
- https://github.com/karakun/OpenWebStart/releases

or directly:
- Version    : 1.9.1
- x86 URL    : https://github.com/karakun/OpenWebStart/releases/download/v1.9.1/OpenWebStart_windows-x32_1_9_1.exe
- x86 SHA256 : 296AA394BA9187D18FC5C62E11D8B6E5BC929B4926C2D9A17B53603B55E27065
- x64 URL    : https://github.com/karakun/OpenWebStart/releases/download/v1.9.1/OpenWebStart_windows-x64_1_9_1.exe
- x64 SHA256 : AF74EA2BE152FAEF0E82C0B4AA32AA479CB106793269B096868C51926051375C


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/karakun/OpenWebStart/blob/master/LICENSE.md
