# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The OpenWebStart installers can be downloaded from the GitHub releases page:
- https://github.com/karakun/OpenWebStart/releases

or directly:
- Version    : 1.10.0
- x86 URL    : https://github.com/karakun/OpenWebStart/releases/download/v1.10.0/OpenWebStart_windows-x32_1_10_0.exe
- x86 SHA256 : 652928322D83D8E9466A398D8A3744F1A4A0658C435E2A6694903EB8CAD8353A
- x64 URL    : https://github.com/karakun/OpenWebStart/releases/download/v1.10.0/OpenWebStart_windows-x64_1_10_0.exe
- x64 SHA256 : 9F5B6AA6BDDDEA309CC1874CAA77E71EEE75A4E052D7A69F6CDE7270CEE898C2


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/karakun/OpenWebStart/blob/master/LICENSE.md
