# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The OpenWebStart installers can be downloaded from the GitHub releases page:
- https://github.com/karakun/OpenWebStart/releases

or directly:
- Version    : 1.13.0
- x86 URL    : https://github.com/karakun/OpenWebStart/releases/download/v1.13.0/OpenWebStart_windows-x32_1_13_0.exe
- x86 SHA256 : 2AC7CBD25682A4A44457F22F4F23C5A2D606D590983771A1BF74271344AD5E4B
- x64 URL    : https://github.com/karakun/OpenWebStart/releases/download/v1.13.0/OpenWebStart_windows-x64_1_13_0.exe
- x64 SHA256 : 8BCFB8583D67E163858271A833284C98200E8F412160FF9C3C8FF5D17956AC00


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/karakun/OpenWebStart/blob/master/LICENSE.md
