# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The XnView MP installers can be obtained from the downloads section of 
the homepage:
- https://www.xnview.com/en/xnviewmp/#downloads

or directly:
- Version    : 1.7.2
- x64 URL    : https://download.xnview.com/XnViewMP-win-x64.exe
- x64 SHA256 : 03E9D9794AB3DFF3485CE8A0F9406F744E4BD2F7A43B5B135F5E8C9FB791FAA5


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is displayed on a manual install and can be found in
the installation directory.
