# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The XnView MP installers can be obtained from the downloads section of 
the homepage:
- https://www.xnview.com/en/xnviewmp/#downloads

or directly:
- Version    : 1.11.2
- x64 URL    : https://www.xnview.com/download.php?file=XnViewMP-win-x64.exe
- x64 SHA256 : B98DE5AD8B3D02E9D92496420CC290196540970B8A8FEFA1B0394B129A31E594


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is displayed on a manual install and can be found in
the installation directory.
