# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The XnView MP installers can be obtained from the downloads section of 
the homepage:
- https://www.xnview.com/en/xnviewmp/#downloads

or directly:
- Version    : 1.4.5
- x86 URL    : https://download.xnview.com/XnViewMP-win.exe
- x86 SHA256 : 1CB9155B6226F8C14A81B130957E9AFBD27724F3C26417551E3E1AE330017F20
- x64 URL    : https://download.xnview.com/XnViewMP-win-x64.exe
- x64 SHA256 : 9C7E008F3AE569F786AB5DBE1F8307ADB3FEBD14F436DC618FEB57764191A188


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is displayed on a manual install and can be found in
the installation directory.
