# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The XnView MP installers can be obtained from the downloads section of 
the homepage:
- https://www.xnview.com/en/xnviewmp/#downloads

or directly:
- Version    : 1.6.5
- x86 URL    : https://download.xnview.com/XnViewMP-win.exe
- x86 SHA256 : 900E560671F96751F9F0D6E074B307555DAE058C09E2569CBF2ACEA1EE6CD330
- x64 URL    : https://download.xnview.com/XnViewMP-win-x64.exe
- x64 SHA256 : E30DC4C86D7E76A4A0B1E364159FE6D61F2C3339D94DF3DD884F1F1D5007C613


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is displayed on a manual install and can be found in
the installation directory.
