# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The XnView MP installers can be obtained from the downloads section of 
the homepage:
- https://www.xnview.com/en/xnviewmp/#downloads

or directly:
- Version    : 1.9.3
- x64 URL    : https://www.xnview.com/download.php?file=XnViewMP-win-x64.exe
- x64 SHA256 : 3FCEB2BC0C8A3F4F3D99186AF215067088D191CEACAFE98F794453E3025B8F94


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is displayed on a manual install and can be found in
the installation directory.
