# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The XnView MP installers can be obtained from the downloads section of 
the homepage:
- https://www.xnview.com/en/xnviewmp/#downloads

or directly:
- Version    : 1.4.3
- x86 URL    : https://download.xnview.com/XnViewMP-win.exe
- x86 SHA256 : 0F2717DDAA57CD4D735CE13E3602AE17C9D8A4996897B945E7E87634A72EF61E
- x64 URL    : https://download.xnview.com/XnViewMP-win-x64.exe
- x64 SHA256 : 195FC268AFB86DE303EB5E24C168129A6FB59DEB5DD0C0DC4207641E96970CC9


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is displayed on a manual install and can be found in
the installation directory.
