# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The XnView MP installers can be obtained from the downloads section of 
the homepage:
- https://www.xnview.com/en/xnviewmp/#downloads

or directly:
- Version    : 1.8.3
- x64 URL    : https://download.xnview.com/XnViewMP-win-x64.exe
- x64 SHA256 : 3DFC70D0E54640F553A5E9CF7E863F60A029723B6DF2BC2F901924CC3B6A93D4


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is displayed on a manual install and can be found in
the installation directory.
