# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The XnView MP installers can be obtained from the downloads section of 
the homepage:
- https://www.xnview.com/en/xnviewmp/#downloads

or directly:
- Version    : 1.5.3
- x86 URL    : https://download.xnview.com/XnViewMP-win.exe
- x86 SHA256 : 72A9E1C47EFC384FE027686B6D4FED83320DD1BDB39F6262CA38F627B5F02EE2
- x64 URL    : https://download.xnview.com/XnViewMP-win-x64.exe
- x64 SHA256 : D80D46675FDEB3BC91AF9CCF47CA468C1CE2ECE8E56B8034EDAACD1C8794A207


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is displayed on a manual install and can be found in
the installation directory.
