# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The XnView MP installers can be obtained from the downloads section of 
the homepage:
- https://www.xnview.com/en/xnviewmp/#downloads

or directly:
- Version    : 1.6.3
- x86 URL    : https://download.xnview.com/XnViewMP-win.exe
- x86 SHA256 : 900E560671F96751F9F0D6E074B307555DAE058C09E2569CBF2ACEA1EE6CD330
- x64 URL    : https://download.xnview.com/XnViewMP-win-x64.exe
- x64 SHA256 : B499B0C0D3D7950104E727C0B5BC35C3F1C27235E4384D20AB5F3513D5D709A2


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is displayed on a manual install and can be found in
the installation directory.
