# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The XnView MP installers can be obtained from the downloads section of 
the homepage:
- https://www.xnview.com/en/xnviewmp/#downloads

or directly:
- Version    : 1.5.0
- x86 URL    : https://download.xnview.com/XnViewMP-win.exe
- x86 SHA256 : AAC499EB3CB2F6081AF68903804CD8686A39DA82EA78B61F28991EEAF750DADC
- x64 URL    : https://download.xnview.com/XnViewMP-win-x64.exe
- x64 SHA256 : D20467D098C93DD08685BB85783CF85527CC9E5A400524FC637CD813304D2527


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is displayed on a manual install and can be found in
the installation directory.
