# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The XnView MP installers can be obtained from the downloads section of 
the homepage:
- https://www.xnview.com/en/xnviewmp/#downloads

or directly:
- Version    : 1.4.4
- x86 URL    : https://download.xnview.com/XnViewMP-win.exe
- x86 SHA256 : 62D8C36D800328A3962940A8C674EF339BEAA57F40040EA980932C4E610E4096
- x64 URL    : https://download.xnview.com/XnViewMP-win-x64.exe
- x64 SHA256 : 396F65E15F711874E7D18004738D240F79E2D1F88E9ACD54B7F05FAF3AA286B1


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is displayed on a manual install and can be found in
the installation directory.
