# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The XnView MP installers can be obtained from the downloads section of 
the homepage:
- https://www.xnview.com/en/xnviewmp/#downloads

or directly:
- Version    : 1.4.2
- x86 URL    : https://download.xnview.com/XnViewMP-win.exe
- x86 SHA256 : F45F895E8F7DE8DD0EC3D2053E58BBA8FB2AA117D2B86C7F5088042A36153FEC
- x64 URL    : https://download.xnview.com/XnViewMP-win-x64.exe
- x64 SHA256 : DD2E889CE8D7EB270B236A82ED575CE9A192CA385BF89C9E90B5D9D22CC5190E


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is displayed on a manual install and can be found in
the installation directory.
