# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The XnView MP installers can be obtained from the downloads section of 
the homepage:
- https://www.xnview.com/en/xnviewmp/#downloads

or directly:
- Version    : 1.3.1
- x86 URL    : https://download.xnview.com/XnViewMP-win.exe
- x86 SHA256 : BCBE5B403A3A64C54180EE2CEC71D555055D68CF3BD618032FE7E61E8389D34A
- x64 URL    : https://download.xnview.com/XnViewMP-win-x64.exe
- x64 SHA256 : 2C272AB3BFF4E10F12E2A1644BE5526EBF98817F76762F5305EB8400EDB25C3B


## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is displayed on a manual install and can be found in
the installation directory.
