# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
- https://github.com/deskflow/deskflow/releases

or directly:
- Version: 1.26.0
- X64 URL: https://github.com/deskflow/deskflow/releases/download/v1.26.0/deskflow-1.26.0-win-x64.msi
- X64 SHA256 Checksum: 25525334FB33C7B6479884A9EF343212C1EDAFE57C6F39001A435AFBB1EA9B02
- ARM64 URL: https://github.com/deskflow/deskflow/releases/download/v1.26.0/deskflow-1.26.0-win-arm64.msi
- ARM64 SHA256 Checksum: 35bc31668be58bf8e193aa11d83053858b6d86bf55e0ef5ed6e5c2ce0c527d74

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/deskflow/deskflow/blob/master/LICENSE
