# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
- https://github.com/deskflow/deskflow/releases

or directly:
- Version: 1.17.1
- URL: https://github.com/deskflow/deskflow/releases/download/v1.17.1/deskflow-1.17.1-win-x64.msi
- SHA256 Checksum: A8F655403F82D8848F93B333C272822328EAADDD9CEA41B843E236B561382BE2

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/deskflow/deskflow/blob/master/LICENSE
