# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
- https://github.com/deskflow/deskflow/releases

or directly:
- Version: 1.27.0
- X64 URL: https://github.com/deskflow/deskflow/releases/download/v1.27.0/deskflow-1.27.0-win-x64.msi
- X64 SHA256 Checksum: 0CA5668C4731F5477D0B189BDB11196A2CA51281985D9D8C0757BF7F3B782D64
- ARM64 URL: https://github.com/deskflow/deskflow/releases/download/v1.27.0/deskflow-1.27.0-win-arm64.msi
- ARM64 SHA256 Checksum: 7a8632193d8fb4814bd93526995b209afbbb9f293468cfc50ca1bddaa3cb752b

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/deskflow/deskflow/blob/master/LICENSE
