# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
- https://github.com/deskflow/deskflow/releases

or directly:
- Version: 1.25.0
- URL: https://github.com/deskflow/deskflow/releases/download/v1.25.0/deskflow-1.25.0-win-x64.msi
- SHA256 Checksum: A766301EEB2CA3D3A960128020198FD9C7B65C1DE13D86F169A6E6EA1FB82424

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/deskflow/deskflow/blob/master/LICENSE
