# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
- https://github.com/deskflow/deskflow/releases

or directly:
- Version: 1.21.1
- URL: https://github.com/deskflow/deskflow/releases/download/v1.21.1/deskflow-1.21.1-win-x64.msi
- SHA256 Checksum: A69A81CC2EA3340417D38A4C17D905F03CFD26AFD277786D9EFE0850EC7FD444

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/deskflow/deskflow/blob/master/LICENSE
