# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
- https://github.com/deskflow/deskflow/releases

or directly:
- Version: 1.23.0
- URL: https://github.com/deskflow/deskflow/releases/download/v1.23.0/deskflow-1.23.0-win-x64.msi
- SHA256 Checksum: BE7C978138AE3BC26E01230CAE2021E0F6DFCFC24E52C2B0170DA40AA9549944

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/deskflow/deskflow/blob/master/LICENSE
