# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
- https://github.com/deskflow/deskflow/releases

or directly:
- Version: 1.17.0
- URL: https://github.com/deskflow/deskflow/releases/download/v1.17.0/deskflow-1.17.0.0_win64.msi
- SHA256 Checksum: f70a21f8e4f415b47ad34aa30bddc8d929ad42dbaee071cbed40d577bd1e0f49

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/deskflow/deskflow/blob/master/LICENSE
