# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
- https://github.com/deskflow/deskflow/releases

or directly:
- Version: 1.19.0
- URL: https://github.com/deskflow/deskflow/releases/download/v1.19.0/deskflow-1.19.0-win-x64.msi
- SHA256 Checksum: 83AD86E6D1D093AD7F1D5EAC4141808B610BA37B19BE4A0AD01D6EAF55443BFD

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/deskflow/deskflow/blob/master/LICENSE
