# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
- https://github.com/deskflow/deskflow/releases

or directly:
- Version: 1.17.2
- URL: https://github.com/deskflow/deskflow/releases/download/v1.17.2/deskflow-1.17.2-win-x64.msi
- SHA256 Checksum: 9CAF8E43ED3BC50559EECE3C2BE02770D02704A52DF61A91A0374236269E6045

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/deskflow/deskflow/blob/master/LICENSE
