# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
- https://github.com/deskflow/deskflow/releases

or directly:
- Version: 1.21.2
- URL: https://github.com/deskflow/deskflow/releases/download/v1.21.2/deskflow-1.21.2-win-x64.msi
- SHA256 Checksum: E6C52120D780E5FADB037B9D38029C8714B5088A1DD92E658AE70DC98DAC6962

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/deskflow/deskflow/blob/master/LICENSE
