# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
- https://github.com/deskflow/deskflow/releases

or directly:
- Version: 1.22.0
- URL: https://github.com/deskflow/deskflow/releases/download/v1.22.0/deskflow-1.22.0-win-x64.msi
- SHA256 Checksum: 855810AEC1A7123EE351EED58D6D46E0D2FAD68C6BF5CBA1599EA24DA0C8709F

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/deskflow/deskflow/blob/master/LICENSE
