# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official GitHub page:
- https://github.com/deskflow/deskflow/releases

or directly:
- Version: 1.20.1
- URL: https://github.com/deskflow/deskflow/releases/download/v1.20.1/deskflow-1.20.1-win-x64.msi
- SHA256 Checksum: 3660CAE595FC4E1A41DD7792B0BAFBD30EA2945D057E71F7200F73EA953F5A6B

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' is obtained from:
- https://github.com/deskflow/deskflow/blob/master/LICENSE
