# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The VOSviewer zip file can be downloaded from the official download page:
- https://www.vosviewer.com/download

or directly:
- Version : 1.6.20
- URL : https://www.vosviewer.com/downloads/VOSviewer_1.6.20_exe.zip
- SHA256 Checksum : DE9394592B8C43DF198336F7B9350ECF96BDE5CD06D82B558A547BD0D97BD26A

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from within the zip file.
