# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The VOSviewer zip file can be downloaded from the official download page:
- https://www.vosviewer.com/download

or directly:
- Version : 1.6.18
- URL : https://www.vosviewer.com/downloads/VOSviewer_1.6.18_exe.zip
- SHA256 Checksum : 5BF9B21257D56CE219B5023C7A121B1CB251A08E6133701C7C2A2D318A79A41C

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from within the zip file.
