# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The VOSviewer zip file can be downloaded from the official download page:
- https://www.vosviewer.com/download

or directly:
- Version : 1.6.19
- URL : https://www.vosviewer.com/downloads/VOSviewer_1.6.19_exe.zip
- SHA256 Checksum : 3766E3F7A5224B9936E7679D491C1C7B368F0BE3FA2132CA2550ADDB56020F19

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from within the zip file.
