# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The VOSviewer zip file can be downloaded from the official download page:
- https://www.vosviewer.com/download

or directly:
- Version : 1.6.21
- URL : https://www.vosviewer.com/downloads/VOSviewer_1.6.21_exe.zip
- SHA256 Checksum : 246E5F5AA64DC0F14536E9B842FB2D8D1DE080717C8D11EC46923DBF1C14AC85

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from within the zip file.
