# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The Matrix screensaver can be downloaded from this URL:
   https://www.meticulous-software.co.uk/downloads.shtml

or directly:
Version : 1.15
URL     : https://www.meticulous-software.co.uk/TheMatrix115.zip
SHA256  : 1671234053551ef6d7031613c5f4c4f5b4d793aa35977b31ed326f658876621a

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
Content of the file 'LICENSE.txt' is obtained from the bottom of the 'instructions.txt' file included in the zip download.
