# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official download page:
- https://docfetcher.sourceforge.net/en/download.html

or directly:
- Version : 1.1.26
- URL     : https://sourceforge.net/projects/docfetcher/files/docfetcher/1.1.26/DocFetcher-1.1.26-Windows-64bit-Setup.exe
- Checksum: 66E31A74DE45E65D090197E730928AAFB5D8A1411E20C11834A5926942412B55

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.eclipse.org/org/documents/epl-1.0/EPL-1.0.txt

