# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the official download page:
- https://docfetcher.sourceforge.net/en/download.html

or directly:
- Version : 1.1.25.20251006
- URL     : https://sourceforge.net/projects/docfetcher/files/docfetcher/1.1.25/docfetcher_1.1.25_win32_setup.exe
- Checksum: 7C2AEE6BC3498363767274271B0C14C5288184F3A5FD27FD904F2B4315B53BF5

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://www.eclipse.org/org/documents/epl-1.0/EPL-1.0.txt

