# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
BRL-CAD can be downloaded from:
- https://github.com/BRL-CAD/brlcad/releases

or directly:
- Version  : 7.38.2
- URL      : https://github.com/BRL-CAD/brlcad/releases/download/rel-7-38-2/BRL-CAD_7.38.2_win64.msi
- Checksum : 6164858E7DF1598EE5D4BBDC4EF54B1D867874BD35FED855CBAC9469DF0455DD

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The Copying Statement, LPGL text, and BSD license text come from (respectively):

- https://github.com/BRL-CAD/brlcad/blob/main/COPYING
- https://github.com/BRL-CAD/brlcad/blob/main/doc/legal/lgpl.txt
- https://github.com/BRL-CAD/brlcad/blob/main/doc/legal/bsd.txt
