# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
BRL-CAD can be downloaded from:
- https://github.com/BRL-CAD/brlcad/releases

or directly:
- Version  : 7.42.0
- URL      : https://github.com/BRL-CAD/brlcad/releases/download/rel-7-42-0/BRL-CAD_7.42.0_win64.msi
- Checksum : F949C8A0071B6941D2D4E9BC19FA2C901AC2E441950039C1F596C29062E336D4

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The Copying Statement, LPGL text, and BSD license text come from (respectively):

- https://github.com/BRL-CAD/brlcad/blob/main/COPYING
- https://github.com/BRL-CAD/brlcad/blob/main/doc/legal/lgpl.txt
- https://github.com/BRL-CAD/brlcad/blob/main/doc/legal/bsd.txt
