# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
BRL-CAD can be downloaded from:
- https://github.com/BRL-CAD/brlcad/releases

or directly:
- Version  : 7.36.0
- URL      : https://github.com/BRL-CAD/brlcad/releases/download/rel-7-36-0/BRL-CAD_7.36.0_win64.msi
- Checksum : A5F3A1C5D1E0147C465266DC2500FD83BAAEA0F805C2EE3CE98FA7E785820CC0

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The Copying Statement, LPGL text, and BSD license text come from (respectively):

- https://github.com/BRL-CAD/brlcad/blob/main/COPYING
- https://github.com/BRL-CAD/brlcad/blob/main/doc/legal/lgpl.txt
- https://github.com/BRL-CAD/brlcad/blob/main/doc/legal/bsd.txt
