# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
BRL-CAD can be downloaded from:
- https://github.com/BRL-CAD/brlcad/releases

or directly:
- Version  : 7.40.2
- URL      : https://github.com/BRL-CAD/brlcad/releases/download/rel-7-40-2/BRL-CAD_7.40.2_win64.msi
- Checksum : 66F725672F2538CF97F59AE78EA5E6BCE1A844B87EBA86F168F6568A918674C6

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
The Copying Statement, LPGL text, and BSD license text come from (respectively):

- https://github.com/BRL-CAD/brlcad/blob/main/COPYING
- https://github.com/BRL-CAD/brlcad/blob/main/doc/legal/lgpl.txt
- https://github.com/BRL-CAD/brlcad/blob/main/doc/legal/bsd.txt
