# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped font files are downloadable from the "Download" page:

    https://software.sil.org/doulos/download/

or the GitHub releases page:

    https://github.com/silnrsi/font-doulos/releases

or directly:

- Version : 7.000
- URL     : https://software.sil.org/downloads/r/doulos/DoulosSIL-7.000.zip
- SHA256  : 3D63296575F1F834F785F4A9426A9DA6BC3B9083FCC304A5490704F4398BF639

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' comes from:

- https://openfontlicense.org/documents/OFL.txt
