# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The Open Rocket installer can be downloaded from the source releases page:
- https://github.com/openrocket/openrocket/releases

#### or directly:
- Version : 24.12
- URL     : https://github.com/openrocket/openrocket/releases/download/release-24.12/OpenRocket-24.12-installer-Windows-x86_64.exe
- SHA256  : 49c630beef6d01f1d43a96da141c6a1918bb026cc68d19e68cc838a47ff238f9

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is obtained from:
- https://github.com/openrocket/openrocket/blob/unstable/LICENSE.TXT
