# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The Open Rocket installer can be downloaded from the source releases page:
- https://github.com/openrocket/openrocket/releases

#### or directly:
- Version : 24.12
- URL     : https://github.com/openrocket/openrocket/releases/download/release-24.12/OpenRocket-24.12-installer-Windows-Arm64.exe
- SHA256  : FA075D84E408EB72B46C648E3BD5AA919A8FD20C3ADCD6D7DEC13A3495CBF77B

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is obtained from:
- https://github.com/openrocket/openrocket/blob/unstable/LICENSE.TXT
