# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The Open Rocket installer can be downloaded from the source releases page:
- https://github.com/openrocket/openrocket/releases

#### or directly:
- Version : 22.02
- URL     : https://github.com/openrocket/openrocket/releases/download/release-22.02/OpenRocket-22.02-Windows.exe
- SHA256  : 7CCAFD16323A6703F2C2D105EC1EBE73F1C7C9BE846405EA6BB1692864520BBE

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is obtained from:
- https://github.com/openrocket/openrocket/blob/unstable/LICENSE.TXT
