# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The Open Rocket installer can be downloaded from the source releases page:
- https://github.com/openrocket/openrocket/releases

#### or directly:
- Version : 23.09
- URL     : https://github.com/openrocket/openrocket/releases/download/release-23.09/OpenRocket-23.09-Windows.exe
- SHA256  : 7C9E65111A73EF87AA81CA2147800BD40A470F3D7EF3DC31B9A0342FFAE05B2B

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is obtained from:
- https://github.com/openrocket/openrocket/blob/unstable/LICENSE.TXT
