# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.23
- x86 URL      : https://github.com/praat/praat/releases/download/v6.4.23/praat6423_win-intel32.zip
- x86 CheckSum : CC836C45B55216AD5D805A23581522665FD085F430ED06C605CC6D79CED70BB9
- x64 URL      : https://github.com/praat/praat/releases/download/v6.4.23/praat6423_win-intel64.zip
- x64 CheckSum : 656C67FB0507CCC2D087DDF1BF63BBA847088A4C91F3781F76F47DA536FA36EA

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
