# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.61
- x86 URL      : https://github.com/praat/praat.github.io/releases/download/v6.4.61/praat6461_win-intel32.zip
- x86 CheckSum : 47A39BEFB6F5796556668DABA456676D85F2A60E88AAC68A80446911E1D2C091
- x64 URL      : https://github.com/praat/praat.github.io/releases/download/v6.4.61/praat6461_win-arm64.zip
- x64 CheckSum : B3A7E913CB0998386978503DA5D96A4F4549DDBFD9BE71ED9391A414BE241295

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
