# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.42
- x86 URL      : https://github.com/praat/praat.github.io/releases/download/v6.4.42/praat6442_win-intel32.zip
- x86 CheckSum : F737283A518C2B8D32449666BB2A48DD26E9AE27D2F523AFDC8939988C26F7CD
- x64 URL      : https://github.com/praat/praat.github.io/releases/download/v6.4.42/praat6442_win-arm64.zip
- x64 CheckSum : C335342683FA62B6F2BE135EFA48A2C87A7DF2FB6674297DABAD1F691ACD284B

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
