# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.26
- x86 URL      : https://github.com/praat/praat/releases/download/v6.4.26/praat6426_win-intel32.zip
- x86 CheckSum : 16AD4975CDC60C400DAE8C33E72634469C1791FAE6A4CA05981E59D85D07E338
- x64 URL      : https://github.com/praat/praat/releases/download/v6.4.26/praat6426_win-intel64.zip
- x64 CheckSum : FAE68EE29FFB5101799761D6B28ADE432429A32EABFA33EE9FCC8A79DDC75459

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
