# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.25
- x86 URL      : https://github.com/praat/praat/releases/download/v6.4.25/praat6425_win-intel32.zip
- x86 CheckSum : 4D47F09DCFDD0814E7B75B8CBFA8272BC94DEA4FAC40A32135EDA3BDE0505AB9
- x64 URL      : https://github.com/praat/praat/releases/download/v6.4.25/praat6425_win-intel64.zip
- x64 CheckSum : EAF012053D12B0BD9E4D69756F308BD8FD510E6B63DBD05D177F7C4FFBA20B5E

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
