# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version        : 6.4.64
- x86 URL        : https://github.com/praat/praat.github.io/releases/download/v6.4.64/praat6464_win-intel32.zip
- x86 CheckSum   : 8A8EC1F6A7553453B95A0F05E8FED76B5366949FE4CDD33F5156B5A260962132
- x64 URL        : https://github.com/praat/praat.github.io/releases/download/v6.4.64/praat6464_win-intel64.zip
- x64 CheckSum   : C9432D4F376D8704DF9101B919539902939B82C61D6563072C5F25C09F744034

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
