# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version        : 6.6.30
- x86 URL        : https://github.com/praat/praat.github.io/releases/download/v6.6.30/praat6630_win-intel32.zip
- x86 CheckSum   : 5F398AB3E7DE2AD3387AE8EA0AA95A44E3FE5A396BB0ECC358B33737D2C70750
- x64v3 URL        : https://github.com/praat/praat.github.io/releases/download/v6.6.30/praat6630_win-x64v3.zip
- x64v3 CheckSum   : 6A40D39FE1B03744F864CC32BC6A3442A7E47DEE0BF2D6AE63DA0488A9DA8048

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
