# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.07
- x86 URL      : https://github.com/praat/praat/releases/download/v6.4.07/praat6407_win-intel32.zip
- x86 CheckSum : 8515B99C857D72ECB4D7CD4DF9BD8BFFF21967A7A2F81FA0F35702F27C0725F5
- x64 URL      : https://github.com/praat/praat/releases/download/v6.4.07/praat6407_win-intel64.zip
- x64 CheckSum : E3E5777DB5C23746E400F5F25A576FED01574F3D60D58DE6401AE0447C8CCC6B

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
