# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.60
- x86 URL      : https://github.com/praat/praat.github.io/releases/download/v6.4.60/praat6460_win-intel32.zip
- x86 CheckSum : 4A8CC9156FF89724C48908CA572BC7BC65CBA3A0DCCEA0A71F15BF33E0C86206
- x64 URL      : https://github.com/praat/praat.github.io/releases/download/v6.4.60/praat6460_win-arm64.zip
- x64 CheckSum : E42A00F3683E2B8FE37791B1434A7653530EAB06278EB6BE6BF879760989F635

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
