# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.16
- x86 URL      : https://github.com/praat/praat/releases/download/v6.4.16/praat6416_win-intel32.zip
- x86 CheckSum : BFA1F897019D61F6A5A949638143490A2D286EF3B7CD94045BD7751F7EC80913
- x64 URL      : https://github.com/praat/praat/releases/download/v6.4.16/praat6416_win-intel64.zip
- x64 CheckSum : D51DF0A63720B22EF82FC23B055F246B2D6A6376451E75A489127B25212C8C47

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
