# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version        : 6.4.62
- x86 URL        : https://github.com/praat/praat.github.io/releases/download/v6.4.62/praat6462_win-intel32.zip
- x86 CheckSum   : 3CF4E976C36C5950EE78208781B4FAF896338831CB3D7764F7683E5367A48EE1
- x64 URL        : https://github.com/praat/praat.github.io/releases/download/v6.4.62/praat6462_win-intel64.zip
- x64 CheckSum   : 19422EA53CE483626EA28C46847EA6E876F750677614C527E2945B88E29F1A64

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
