# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.35
- x86 URL      : https://github.com/praat/praat/releases/download/v6.4.35/praat6435_win-intel32.zip
- x86 CheckSum : 7D2D2FE263BF961ADD6EB133E21F69878915025771DCC51DEC0AC114DD4CD29D
- x64 URL      : https://github.com/praat/praat/releases/download/v6.4.35/praat6435_win-intel64.zip
- x64 CheckSum : 18BD811C0AC63BC98DC0B0C2ED8D4C8F9B47A60CC3A02946E9F55B25722CBFCA

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
