# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.22
- x86 URL      : https://github.com/praat/praat/releases/download/v6.4.22/praat6422_win-intel32.zip
- x86 CheckSum : 473BFBE2E65D282E8D50E8E0F6BAFA6F5A09BECB8245152F1A4B5D3F8A6C5EFA
- x64 URL      : https://github.com/praat/praat/releases/download/v6.4.22/praat6422_win-intel64.zip
- x64 CheckSum : FF33E432223612E064DCEDB12B372FDCAC4FF2A8041338F415F371046979B46B

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
