# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.34
- x86 URL      : https://github.com/praat/praat/releases/download/v6.4.34/praat6434_win-intel32.zip
- x86 CheckSum : 853802A5B113C546FBAB529031077F01859B0EC42ED2A3186B1F440E089F8E0D
- x64 URL      : https://github.com/praat/praat/releases/download/v6.4.34/praat6434_win-intel64.zip
- x64 CheckSum : E307785718EEF4CD03E4DABDBC35F15A246774E7FC0B7F4C2E3E30D07BE6FAEF

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
