# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.51
- x86 URL      : https://github.com/praat/praat.github.io/releases/download/v6.4.51/praat6451_win-intel32.zip
- x86 CheckSum : E587E2453CDD913D7A0370CEA1ADB6B5CEA40A5428194EC76C3BC93FC4BE0A74
- x64 URL      : https://github.com/praat/praat.github.io/releases/download/v6.4.51/praat6451_win-arm64.zip
- x64 CheckSum : F63F2A940A4CB986002B0015D0DA3E2C7920768FF45BC8B4A17BEC818E4DD943

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
