# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.17
- x86 URL      : https://github.com/praat/praat/releases/download/v6.4.17/praat6417_win-intel32.zip
- x86 CheckSum : BB25A65DD84AEA2E918EE2EAFABB80A84F8113CEA41B898926C42C4CBC95510A
- x64 URL      : https://github.com/praat/praat/releases/download/v6.4.17/praat6417_win-intel64.zip
- x64 CheckSum : ED19FBB96CB3E5F9795A18E226EC42025F8BF4CE00F6D28FBCAEC8E1261D2E95

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
