# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.38
- x86 URL      : https://github.com/praat/praat/releases/download/v6.4.38/praat6438_win-intel32.zip
- x86 CheckSum : 1E9EE6CEA790CEBE70C7E4573219F2CDDF38534B953A9F71A14301FA7A298E32
- x64 URL      : https://github.com/praat/praat/releases/download/v6.4.38/praat6438_win-intel64.zip
- x64 CheckSum : 2404BCD3CAC464CAEC0CD94B0A6398DA49F67C8A6E18D9A993F28DF726E0C052

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
