# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.13
- x86 URL      : https://github.com/praat/praat/releases/download/v6.4.13/praat6413_win-intel32.zip
- x86 CheckSum : F666075F816DDCE1C5DAB7B8FC7DB2D49EA19B6B04B75EFC026665E2FF58E108
- x64 URL      : https://github.com/praat/praat/releases/download/v6.4.13/praat6413_win-intel64.zip
- x64 CheckSum : 955A4F821F716DBC189FAB4D0FCCBD7A5CB0038286F2146345A3270D336BBDF9

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
