# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.24
- x86 URL      : https://github.com/praat/praat/releases/download/v6.4.24/praat6424_win-intel32.zip
- x86 CheckSum : F95C8020D4A5DC537D1AB47409BADFED52DD00A72FA36624A298FD404A6FA13D
- x64 URL      : https://github.com/praat/praat/releases/download/v6.4.24/praat6424_win-intel64.zip
- x64 CheckSum : D8C5D1965E8B32EA6D2490B20C9FBF5CED0E1E8C2368A5B867EFEDFF24549CFB

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
