# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.33
- x86 URL      : https://github.com/praat/praat/releases/download/v6.4.33/praat6433_win-intel32.zip
- x86 CheckSum : 32F21E9153CAA32FB68283F10A83CD48FFA1F76762C9012BEC8145CD7C442C43
- x64 URL      : https://github.com/praat/praat/releases/download/v6.4.33/praat6433_win-intel64.zip
- x64 CheckSum : 01D1816E9B4F3021E8C7A5C601555E9EC7ADA721A4D87034D7A0B00D83CCFDFC

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
