# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.20
- x86 URL      : https://github.com/praat/praat/releases/download/v6.4.20/praat6420_win-intel32.zip
- x86 CheckSum : 8B13866AAD29D467DCD3106CC2C8E5ECD530FC3A0788D44DDF66D55D578D42E4
- x64 URL      : https://github.com/praat/praat/releases/download/v6.4.20/praat6420_win-intel64.zip
- x64 CheckSum : A6997A53C707CC5A3B48892B1239ED92940DEF2E0BC18F71660DA925ED504305

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
