# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.05
- x86 URL      : https://github.com/praat/praat/releases/download/v6.4.05/praat6405_win-intel32.zip
- x86 CheckSum : F6D480F0359477EC2EC84D64D70A30F1628DDFA1053C53563DA8E66D711403CF
- x64 URL      : https://github.com/praat/praat/releases/download/v6.4.05/praat6405_win-intel64.zip
- x64 CheckSum : AFC7A40376D1CEBB707DFB19FDC29AD135A5218F2835AA9BA18996CE93B4644E

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
