# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.43
- x86 URL      : https://github.com/praat/praat.github.io/releases/download/v6.4.43/praat6443_win-intel32.zip
- x86 CheckSum : 6EBFF043B377A76CC339B932825146451B1819E8A3B885DA414732B7A838D740
- x64 URL      : https://github.com/praat/praat.github.io/releases/download/v6.4.43/praat6443_win-arm64.zip
- x64 CheckSum : EDD6C7C5AECEAE40C538224D70376B9FB77B142957EAE3767B7A738D7512262D

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
