# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.12
- x86 URL      : https://github.com/praat/praat/releases/download/v6.4.12/praat6412_win-intel32.zip
- x86 CheckSum : 3C8BB0F298F8D1C913A6441BEFDA5825C00D085F7E0F697398FF557F38B0648C
- x64 URL      : https://github.com/praat/praat/releases/download/v6.4.12/praat6412_win-intel64.zip
- x64 CheckSum : 5AFE5A8CB120F111822CFC401AAE8DFDE499E5B904700DF6220E82CCECED0109

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
