# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.10
- x86 URL      : https://github.com/praat/praat/releases/download/v6.4.10/praat6410_win-intel32.zip
- x86 CheckSum : 3B4BF1BACB3FF2F6C89CAE1963534062585DF5EB1A5DC27D23E89A3B554E2C17
- x64 URL      : https://github.com/praat/praat/releases/download/v6.4.10/praat6410_win-intel64.zip
- x64 CheckSum : D31F27E4AC4B4A93D88A112D26D21CD1AE7D2CABA2689E3C551DD2B62C26E715

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
