# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.18
- x86 URL      : https://github.com/praat/praat/releases/download/v6.4.18/praat6418_win-intel32.zip
- x86 CheckSum : 1372C63CBEF099FAF34BBB4EE7F7F3EA058B8A53A2F52A657B62E981AA32A4C4
- x64 URL      : https://github.com/praat/praat/releases/download/v6.4.18/praat6418_win-intel64.zip
- x64 CheckSum : 8502617043943C84A7E2EB3EF7476B8EB904801C131373A448DD892F3A5A73AE

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
