# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.06
- x86 URL      : https://github.com/praat/praat/releases/download/v6.4.06/praat6406_win-intel32.zip
- x86 CheckSum : 31BCA9AEF421279DFBEDD3202DAB605B13CE63467FAD510489D27C38C1D6EC2F
- x64 URL      : https://github.com/praat/praat/releases/download/v6.4.06/praat6406_win-intel64.zip
- x64 CheckSum : 74AC76562D9C238310098F1D34A3B52FECBAA577FAE8DB84FC69D85335270787

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
