# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.48
- x86 URL      : https://github.com/praat/praat.github.io/releases/download/v6.4.48/praat6448_win-intel32.zip
- x86 CheckSum : 4F243F1F5E492E6FD3E37B922160685068D23F2056A51DA939E40D87C7751B8E
- x64 URL      : https://github.com/praat/praat.github.io/releases/download/v6.4.48/praat6448_win-arm64.zip
- x64 CheckSum : 4A80488FDD47E71074760151661F2E1BF0120D857A3B6FCF1684129240D759A4

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
