# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
Praat can be downloaded from the home site:  

    http://www.fon.hum.uva.nl/praat/
or from the GitHub release page:

    https://github.com/praat/praat/releases/latest

Direct download:   
- Version      : 6.4.47
- x86 URL      : https://github.com/praat/praat.github.io/releases/download/v6.4.47/praat6447_win-intel32.zip
- x86 CheckSum : E296535E9C203D087990A470FBB9B6C3E6DD66FE1B8E763138679C250913BF25
- x64 URL      : https://github.com/praat/praat.github.io/releases/download/v6.4.47/praat6447_win-arm64.zip
- x64 CheckSum : BC4DC47FB8051C69129386B4C6CC01DC33F4C649D563E27584950329C06F1302

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://www.fon.hum.uva.nl/praat/manual/General_Public_License__version_3.html
