# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
OpenBoard can be downloaded from the home site:  

    https://openboard.ch/download.en.html

or from the GitHub release page:

    https://github.com/OpenBoard-org/OpenBoard/releases

Direct download:   
- Version  : 1.7.5
- URL      : https://github.com/OpenBoard-org/OpenBoard/releases/download/v1.7.5/OpenBoard_Installer_1.7.5.exe
- CheckSum : 8806AB55B3E8C7AB88C6BEA739C63FF544B33A47B5E5806DEB4989C1831FD691

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://github.com/OpenBoard-org/OpenBoard/blob/master/LICENSE
