# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
OpenBoard can be downloaded from the home site:  

    https://openboard.ch/download.en.html

or from the GitHub release page:

    https://github.com/OpenBoard-org/OpenBoard/releases

Direct download:   
- Version  : 1.7.2
- URL      : https://github.com/OpenBoard-org/OpenBoard/releases/download/v1.7.2/OpenBoard_Installer_1.7.2.exe
- CheckSum : 9D2B2A8A758EC0493C4BD76EFEE13140433254A3B3F001DD207CA4309DAD7C26

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://github.com/OpenBoard-org/OpenBoard/blob/master/LICENSE
