# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
OpenBoard can be downloaded from the home site:  

    https://openboard.ch/download.en.html

or from the GitHub release page:

    https://github.com/OpenBoard-org/OpenBoard/releases

Direct download:   
- Version  : 1.7.6
- URL      : https://github.com/OpenBoard-org/OpenBoard/releases/download/v1.7.6/OpenBoard_Installer_1.7.6.exe
- CheckSum : 3D0E3F2C60C9B8C0B9ADCAAB1CAE0E622880E7E04382F61FD952F2CE4BEEC99C

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is from https://github.com/OpenBoard-org/OpenBoard/blob/master/LICENSE
