# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The fonts can be downloaded by clicking the [link on the homepage](https://www.n1en.org/roadgeek-fonts/) or going directly to https://www.dropbox.com/s/eigx7whbavwupr2/roadgeek2005v2-complete.zip?dl=0 and choosing to download.

or directly:
Version : 2005
URL     : https://www.dropbox.com/s/eigx7whbavwupr2/roadgeek2005v2-complete.zip?dl=1
SHA256  : c76212942b8ef22db003f0eae247fff92751f405ec9b2cf582fcc457b2bd9731

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
The content of the file 'LICENSE.txt' is obtained from:
- https://www.dropbox.com/s/eigx7whbavwupr2/roadgeek2005v2-complete.zip?dl=0&file_subpath=%2FLicense+for+use+of+Roadgeek+Fonts.txt
