# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the GitHub releases page:
- https://github.com/microsoft/edit/releases

or directly:
- Version : 1.1.0
- URL     : https://github.com/microsoft/edit/releases/download/v1.1.0/edit-1.1.0-x86_64-windows.zip
- Checksum: 622CB1E1A2D592AE705CE8E518E86AFBE2A269A4B223B7392F6C6E10E9F0913A

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' comes from:
- https://github.com/microsoft/edit/blob/main/LICENSE
