# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the GitHub releases page:
- https://github.com/microsoft/edit/releases

or directly:
- Version : 1.2.1
- URL     : https://github.com/microsoft/edit/releases/download/v1.2.1/edit-1.2.1-x86_64-windows.zip
- Checksum: BE3AFFB7E5E0CD856FC0FB9C8B2004E9FBBC364E69797F7C2E9D8FCC94BFC4FF

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' comes from:
- https://github.com/microsoft/edit/blob/main/LICENSE
