# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the GitHub releases page:
- https://github.com/microsoft/edit/releases

or directly:
- Version : 2.0.0
- URL     : https://github.com/microsoft/edit/releases/download/v2.0.0/edit-2.0.0-x86_64-windows.zip
- Checksum: 97B8F2C667FAEA8F211AF5F9C879602949164911D74D16F540BBE31AD46C14CB

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' comes from:
- https://github.com/microsoft/edit/blob/main/LICENSE
