# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the GitHub releases page:
- https://github.com/microsoft/edit/releases

or directly:
- Version : 1.2.0
- URL     : https://github.com/microsoft/edit/releases/download/v1.2.0/edit-1.2.0-x86_64-windows.zip
- Checksum: 49F52065BF88F01928E2911B04705B34A0C20D9EC09EB6241452C9D5DD166FC4

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' comes from:
- https://github.com/microsoft/edit/blob/main/LICENSE
