# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The latest version can be downloaded from the GitHub releases page:
- https://github.com/microsoft/edit/releases

or directly:
- Version : 1.0.0
- URL     : https://github.com/microsoft/edit/releases/download/v1.0.0/edit-1.0.0-x86_64-windows.zip
- Checksum: 6a1ef921ef28ee52ad775982c9c37505eb16eb80c14fa831d93f3ee502277dc8

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.md' comes from:
- https://github.com/microsoft/edit/blob/main/LICENSE
