# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped font files are downloadable from the GitHub releases page:

https://github.com/googlefonts/roboto-classic/releases/latest

or directly:

- Version : 3.011
- URL     : https://github.com/googlefonts/roboto-3-classic/releases/download/v3.011/Roboto_v3.011.zip
- SHA256  : 989FEE31706DF293F1099A385B392BD2E4A152C993EE5FB3BA72ADC7484E750E

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' comes from:

- https://github.com/googlefonts/roboto-classic/blob/main/OFL.txt
