# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped font files are downloadable from the GitHub releases page:

https://github.com/googlefonts/roboto-classic/releases/latest

or directly:

- Version : 3.015
- URL     : https://github.com/googlefonts/roboto-3-classic/releases/download/v3.015/Roboto_v3.015.zip
- SHA256  : BEE3E9334EA86DD63E184598F31FB16750881C2DA1A6F097A66E0F66A95B3D54

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' comes from:

- https://github.com/googlefonts/roboto-classic/blob/main/OFL.txt
