# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped font files are downloadable from the GitHub releases page:

https://github.com/googlefonts/roboto-classic/releases/latest

or directly:

- Version : 3.009
- URL     : https://github.com/googlefonts/roboto-classic/releases/download/v3.009/Roboto_v3.009.zip
- SHA256  : E33ED54B1F9E23DF82B780C6C17043A49CAB46FA9C661DC48C56671AC6868864

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' comes from:

- https://github.com/googlefonts/roboto-classic/blob/master/LICENSE.txt
