# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped font files are downloadable from the GitHub releases page:

https://github.com/googlefonts/roboto-classic/releases/latest

or directly:

- Version : 3.010
- URL     : https://github.com/googlefonts/roboto-classic/releases/download/v3.010/Roboto_v3.010.zip
- SHA256  : 173F6D2FDD7E523F189CCF04507F72D900E88CD18332A86F4E33AFB3BD78DC30

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' comes from:

- https://github.com/googlefonts/roboto-classic/blob/main/OFL.txt
