# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped font files are downloadable from the GitHub releases page:

https://github.com/googlefonts/roboto-classic/releases/latest

or directly:

- Version : 3.012
- URL     : https://github.com/googlefonts/roboto-3-classic/releases/download/v3.012/Roboto_v3.012.zip
- SHA256  : FDA623DA606EE230C84DAB1C79E534341557510663C81B56BA57A320D36CBC2D

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' comes from:

- https://github.com/googlefonts/roboto-classic/blob/main/OFL.txt
