# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped font files are downloadable from the GitHub releases page:

https://github.com/googlefonts/roboto-classic/releases/latest

or directly:

- Version : 3.008
- URL     : https://github.com/googlefonts/roboto-classic/releases/download/v3.008/Roboto_v3.008.zip
- SHA256  : 64C51D5D69C36C9A71DCA214CD80B699E637A57D1C19744EF46A23F91347BD24

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' comes from:

- https://github.com/googlefonts/roboto-classic/blob/master/LICENSE.txt
