# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped font files are downloadable from the GitHub releases page:

https://github.com/googlefonts/roboto-classic/releases/latest

or directly:

- Version : 3.005
- URL     : https://github.com/googlefonts/roboto-classic/releases/download/v3.005/Roboto_v3.005.zip
- SHA256  : 521456D61A3A38F0580E785CAB83040F99CF667C063E14D012421B44D2CC0540

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' comes from:

- https://github.com/googlefonts/roboto-classic/blob/master/LICENSE.txt
