# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The zipped font files are downloadable from the GitHub releases page:

https://github.com/googlefonts/roboto-classic/releases/latest

or directly:

- Version : 3.014
- URL     : https://github.com/googlefonts/roboto-3-classic/releases/download/v3.014/Roboto_v3.014.zip
- SHA256  : 37E09DE82A6ED79F3F757E44B6B252A72221169D4EE28F4CE35BBC6B5EDA5C3A

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' comes from:

- https://github.com/googlefonts/roboto-classic/blob/main/OFL.txt
