# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the source releases page:
- https://github.com/moneymanagerex/moneymanagerex/releases

or directly:
Version      : 1.6.3
x86 URL      : https://github.com/moneymanagerex/moneymanagerex/releases/download/v1.6.3/mmex-1.6.3-win32.exe
x86 Checksum : 83F9960A0232236B8FD4C1635DC1686B1657D8F8D2116FD9C4096841738C100E
x64 URL      : https://github.com/moneymanagerex/moneymanagerex/releases/download/v1.6.3/mmex-1.6.3-win64.exe
x64 Checksum : 5482CA93B5FB8EB90813A6256751E1D7EFF19C2A390850278139EE87C092FBF9

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is combined from:
- https://github.com/moneymanagerex/moneymanagerex/blob/master/license.txt
- https://github.com/moneymanagerex/moneymanagerex/blob/master/LICENSE

