# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the source releases page:
- https://github.com/moneymanagerex/moneymanagerex/releases

or directly:
Version      : 1.9.2
x86 URL      : https://github.com/moneymanagerex/moneymanagerex/releases/download/v1.9.2/mmex-1.9.2-win32.exe
x86 Checksum : F1C4261C788B9AA25FBA8A3DB4B2AFE8F64AFA50833B7158D52EF95EF9658A55
x64 URL      : https://github.com/moneymanagerex/moneymanagerex/releases/download/v1.9.2/mmex-1.9.2-win64.exe
x64 Checksum : A7DECDCF63CCC2E25EB4B5CA31B8E5D910F0FB473EF21D569D74D3D7E0FC59D6

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is combined from:
- https://github.com/moneymanagerex/moneymanagerex/blob/master/license.txt
- https://github.com/moneymanagerex/moneymanagerex/blob/master/LICENSE

