# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the source releases page:
- https://github.com/moneymanagerex/moneymanagerex/releases

or directly:
Version      : 1.9.0
x86 URL      : https://github.com/moneymanagerex/moneymanagerex/releases/download/v1.9.0/mmex-1.9.0-win32.exe
x86 Checksum : 6B5D1675048CFAAA30AAB37AEB1F43FA2224BCF3C0F0A530289E66408F7CFEDD
x64 URL      : https://github.com/moneymanagerex/moneymanagerex/releases/download/v1.9.0/mmex-1.9.0-win64.exe
x64 Checksum : 94A954A300E84810E025FD9740891802A9A261C9F3AA88007569DA2605277ADE

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is combined from:
- https://github.com/moneymanagerex/moneymanagerex/blob/master/license.txt
- https://github.com/moneymanagerex/moneymanagerex/blob/master/LICENSE

