# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the source releases page:
- https://github.com/moneymanagerex/moneymanagerex/releases

or directly:
Version      : 1.9.4
x86 URL      : https://github.com/moneymanagerex/moneymanagerex/releases/download/v1.9.4/mmex-1.9.4-win32.exe
x86 Checksum : 3638D4EE5CE9E0EAB8DBED44D63CA2453C12CC5A0E4ED6A451734834F06B9201
x64 URL      : https://github.com/moneymanagerex/moneymanagerex/releases/download/v1.9.4/mmex-1.9.4-win64.exe
x64 Checksum : 95DAA954201C834C6EEAFF1D03AA41D50D3E7F1C5466CD79C98F28C1A5949F74

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is combined from:
- https://github.com/moneymanagerex/moneymanagerex/blob/master/license.txt
- https://github.com/moneymanagerex/moneymanagerex/blob/master/LICENSE

