# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the source releases page:
- https://github.com/moneymanagerex/moneymanagerex/releases

or directly:
Version      : 1.8.0
x86 URL      : https://github.com/moneymanagerex/moneymanagerex/releases/download/v1.8.0/mmex-1.8.0-win32.exe
x86 Checksum : 2DE8A521EA9E683DA18829B5F6464EE6495FE7B121BEECDB2BA89CA3B5F3F8C9
x64 URL      : https://github.com/moneymanagerex/moneymanagerex/releases/download/v1.8.0/mmex-1.8.0-win64.exe
x64 Checksum : F8E7AFB9BBC97D3061B9058EE6FC50295215DDE77B69F635E154921AF45A6A9F

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is combined from:
- https://github.com/moneymanagerex/moneymanagerex/blob/master/license.txt
- https://github.com/moneymanagerex/moneymanagerex/blob/master/LICENSE

