# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the source releases page:
- https://github.com/moneymanagerex/moneymanagerex/releases

or directly:
Version      : 1.9.1
x86 URL      : https://github.com/moneymanagerex/moneymanagerex/releases/download/v1.9.1/mmex-1.9.1-win32.exe
x86 Checksum : 7D58E255676C1CDA17B4B6FABE5FEB121457612D1B8C0CE857593D4FA28C7452
x64 URL      : https://github.com/moneymanagerex/moneymanagerex/releases/download/v1.9.1/mmex-1.9.1-win64.exe
x64 Checksum : 3D519E7205F89716EEA3F34FA82CBF525777D28B1208C4870882FF38C2AA3140

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is combined from:
- https://github.com/moneymanagerex/moneymanagerex/blob/master/license.txt
- https://github.com/moneymanagerex/moneymanagerex/blob/master/LICENSE

