# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the source releases page:
- https://github.com/moneymanagerex/moneymanagerex/releases

or directly:
Version      : 1.8.1
x86 URL      : https://github.com/moneymanagerex/moneymanagerex/releases/download/v1.8.1/mmex-1.8.1-win32.exe
x86 Checksum : F80592E4154BCAA0F62FF87B81FB8A606C687C64F6F03E7B0DCF24619574812B
x64 URL      : https://github.com/moneymanagerex/moneymanagerex/releases/download/v1.8.1/mmex-1.8.1-win64.exe
x64 Checksum : B3318309FFA16EDA78DFD443D88F4B92F3FA2B613A65262CF2CB4A5483F60702

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is combined from:
- https://github.com/moneymanagerex/moneymanagerex/blob/master/license.txt
- https://github.com/moneymanagerex/moneymanagerex/blob/master/LICENSE

