# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the source releases page:
- https://github.com/moneymanagerex/moneymanagerex/releases

or directly:
Version      : 1.6.4
x86 URL      : https://github.com/moneymanagerex/moneymanagerex/releases/download/v1.6.4/mmex-1.6.4-win32.exe
x86 Checksum : 258C4E82CABEDC428B77A0DDA6FD09307DF132D203B78B04EF54A487A51B36E7
x64 URL      : https://github.com/moneymanagerex/moneymanagerex/releases/download/v1.6.4/mmex-1.6.4-win64.exe
x64 Checksum : 12503082B029FCD45137CD5D35F8F904A88CCCC44210370E1BD9F45E825DD450

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is combined from:
- https://github.com/moneymanagerex/moneymanagerex/blob/master/license.txt
- https://github.com/moneymanagerex/moneymanagerex/blob/master/LICENSE

