# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the source releases page:
- https://github.com/moneymanagerex/moneymanagerex/releases

or directly:
Version      : 1.7.0
x86 URL      : https://github.com/moneymanagerex/moneymanagerex/releases/download/v1.7.0/mmex-1.7.0-win32.exe
x86 Checksum : 5F53CF275A6362DED05ABE82098FF51E7184E7E907E7493FD2707A7A7F55CA55
x64 URL      : https://github.com/moneymanagerex/moneymanagerex/releases/download/v1.7.0/mmex-1.7.0-win64.exe
x64 Checksum : 9F33FD58E0DBBCE2866959AF13D6A7E9AC4D4E5121644D822B371906800D975D

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is combined from:
- https://github.com/moneymanagerex/moneymanagerex/blob/master/license.txt
- https://github.com/moneymanagerex/moneymanagerex/blob/master/LICENSE

