# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer can be downloaded from the GitHub releases page:
- https://github.com/mulaRahul/keyviz/releases

or directly:
Version : 2.1.1
URL     : https://github.com/mulaRahul/keyviz/releases/download/v2.1.1/keyviz_2.1.1_windows.msi
SHA256  : B58263EB3BE44CBBA6C5F7518A63BCF7AE31396493DFC1FF143677E7AB710B3A

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/mulaRahul/keyviz/blob/main/LICENSE
