# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The LilyPond zip file for Windows can be downloaded from this page:
- https://lilypond.org/download.html

#### or directly:
- Version : 2.24.3
- URL     : https://gitlab.com/lilypond/lilypond/-/releases/v2.24.3/downloads/lilypond-2.24.3-mingw-x86_64.zip
- SHA256  : 57AF039E15144339654488717F5737EAAD3D6051FF9EF75658CE33DDE35794BD

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is obtained from:
- https://lilypond.org/gpl.html
