# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The LilyPond zip file for Windows can be downloaded from this page:
- https://lilypond.org/download.html

#### or directly:
- Version : 2.24.4
- URL     : https://gitlab.com/lilypond/lilypond/-/releases/v2.24.4/downloads/lilypond-2.24.4-mingw-x86_64.zip
- SHA256  : E238F5A33EBDE7466FE03D0FBCAA155A44536CA582951972482E0B00CEB0FBF1

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is obtained from:
- https://lilypond.org/gpl.html
