# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The LilyPond zip file for Windows can be downloaded from this page:
- https://lilypond.org/download.html

#### or directly:
- Version : 2.24.2
- URL     : https://gitlab.com/lilypond/lilypond/-/releases/v2.24.2/downloads/lilypond-2.24.2-mingw-x86_64.zip
- SHA256  : 1CA027793D6BAFBF0E6CB3B7BD3AB571F0776EC3C846C493B3B62A80D9D7E5E0

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is obtained from:
- https://lilypond.org/gpl.html
