# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer is available by following the link to download the
particular version on this page:  
   https://www.rizonesoft.com/downloads/notepad3/

or directly:
- Version: 6.25.714.1
- x86 URL: https://github.com/rizonesoft/Notepad3/releases/download/RELEASE_6.25.714.1/Notepad3_6.25.714.1_x86_Setup.exe
- x86 CheckSum: 6AB7AE4276457ADF1810887F5A71377AB80008E01BBBA456131EEDAAE06E0D31
- x64 URL: https://github.com/rizonesoft/Notepad3/releases/download/RELEASE_6.25.714.1/Notepad3_6.25.714.1_x64_Setup.exe
- x64 CheckSum: F1BFD8E135074FD83AC918B9C706A3391CB192755B757AAB45717EEA63BCEF5F

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is copied from:
- https://github.com/rizonesoft/Notepad3/blob/master/License.txt

