# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer is available by following the link to download the
particular version on this page:  
   https://www.rizonesoft.com/downloads/notepad3/

or directly:
- Version: 6.24.1221.1
- x86 URL: https://github.com/rizonesoft/Notepad3/releases/download/RELEASE_6.24.1221.1/Notepad3_6.24.1221.1_x86_Setup.exe
- x86 CheckSum: 65698173E5E6FD77CE50386E8DF943A28D898826F406E91123D418A25E49C7DB
- x64 URL: https://github.com/rizonesoft/Notepad3/releases/download/RELEASE_6.24.1221.1/Notepad3_6.24.1221.1_x64_Setup.exe
- x64 CheckSum: 053A093066373A42B35C5E6D328F0AD70FF67FA4A55DB12498F26C73F20B220F

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is copied from:
- https://github.com/rizonesoft/Notepad3/blob/master/License.txt

