# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer is available by following the link to download the
particular version on this page:  
   https://www.rizonesoft.com/downloads/notepad3/

or directly:
- Version: 6.25.822.1
- x86 URL: https://github.com/rizonesoft/Notepad3/releases/download/RELEASE_6.25.822.1/Notepad3_6.25.822.1_x86_Setup.exe
- x86 CheckSum: 5B8B0DBC961F0186F3462569409FE5220755C44A695E3FAC42805475C134D1A8
- x64 URL: https://github.com/rizonesoft/Notepad3/releases/download/RELEASE_6.25.822.1/Notepad3_6.25.822.1_x64_Setup.exe
- x64 CheckSum: BA90C7B43E0463BD5AE44F5B0F12B162F599C23547D8940366520C94600D48E7

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is copied from:
- https://github.com/rizonesoft/Notepad3/blob/master/License.txt

