# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer is available by following the link to download the
particular version on this page:  
   https://www.rizonesoft.com/downloads/notepad3/

or directly:
- Version: 7.26.426.1
- x86 URL: https://github.com/rizonesoft/Notepad3/releases/download/RELEASE_7.26.426.1/Notepad3_7.26.426.1_x86_Setup.exe
- x86 CheckSum: 9C7AE261663DC2B527C3058842F4B86017BD21E213F687EAACFBF77E356C82EF
- x64 URL: https://github.com/rizonesoft/Notepad3/releases/download/RELEASE_7.26.426.1/Notepad3_7.26.426.1_x64_Setup.exe
- x64 CheckSum: 3B126A6187ABAE5B0D99BEBF3017968499E9E0E25B7EE86BEFB630EFA8FB4E2B

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is copied from:
- https://github.com/rizonesoft/Notepad3/blob/master/License.txt

