# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The installer is available by following the link to download the
particular version on this page:  
   https://www.rizonesoft.com/downloads/notepad3/

or directly:
- Version: 7.26.602.1
- x86 URL: https://github.com/rizonesoft/Notepad3/releases/download/RELEASE_7.26.602.1/Notepad3_7.26.602.1_x86_Setup.exe
- x86 CheckSum: 42375FD4F4801FF0F2999FBC6D56848E0466A96ED89C1C1BE8AF0051AC875D0D
- x64 URL: https://github.com/rizonesoft/Notepad3/releases/download/RELEASE_7.26.602.1/Notepad3_7.26.602.1_x64_Setup.exe
- x64 CheckSum: 9CF68B38BCC1AA679050B9069174AB222383BA004C37BDD47056CAFC71626BE9

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is copied from:
- https://github.com/rizonesoft/Notepad3/blob/master/License.txt

